<a href="https://colab.research.google.com/github/Saransh45/IMDB-Data-Analysis/blob/main/IMDB_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/imdb_data.csv')
data

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [5]:
import os

for root, dirs, files in os.walk('/content/drive'):
    if 'imdb_data.csv' in files:
        print(os.path.join(root, 'imdb_data.csv'))

/content/drive/MyDrive/Colab Notebooks/imdb_data.csv

In [6]:
import os
os.listdir('/content/drive/')

['MyDrive', '.shortcut-targets-by-id', '.Trash-0', '.Encrypted']

In [7]:
data.shape

(3000, 23)

In [8]:
data.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [9]:
data.head(100)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2569398,ru,Со мною вот что происходит,"December, 31st. Impossible Moscow traffic, an ...",0.181963,...,12/9/12,72.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,And Here's What's Happening to Me,NaN,"[{'cast_id': 4, 'character': 'Artyom', 'credit...","[{'credit_id': '52fe4b199251416c910cfbd9', 'de...",14353
96,97,NaN,2500000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt1683921,fr,Nuit Blanche,Vincent is a crooked cop whose drug heist goes...,2.942355,...,11/14/11,98.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Sleepless Night,NaN,"[{'cast_id': 1, 'character': 'Vincent', 'credi...","[{'credit_id': '52fe49c0c3a368484e13dc9b', 'de...",3358
97,98,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,tt1772980,ru,Mishen,"In the year 2020, a group of wealthy Moscovite...",1.042112,...,6/26/11,158.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Target,NaN,"[{'cast_id': 1001, 'character': 'Victor', 'cre...","[{'credit_id': '58cdbad4c3a36850e9011085', 'de...",73000
98,99,NaN,10500000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,tt1764625,es,Las aventuras de Tadeo Jones,Tad is a celebrity archeologist and adventurer...,11.003515,...,8/31/12,90.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,"No whip, no gun...All fun!","Tad, the Lost Explorer","[{'id': 720, 'name': 'helicopter'}, {'id': 145...","[{'cast_id': 2, 'character': 'Sara', 'credit_i...","[{'credit_id': '52fe4a6bc3a368484e15241f', 'de...",23000000
99,100,NaN,6000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0094894,en,Colors,A confident young cop is shown the ropes by a ...,5.529808,...,4/15/88,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"70,000 gang members. One million guns. Two cops.",Colors,"[{'id': 796, 'name': 'police brutality'}, {'id...","[{'cast_id': 1, 'character': 'Officer Danny Mc...","[{'credit_id': '52fe432f9251416c75006ac5', 'de...",46616067

In [10]:
data.tail(50)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2950,2951,"[{'id': 9735, 'name': 'Friday the 13th Collect...",30000000,"[{'id': 27, 'name': 'Horror'}]",NaN,tt0329101,en,Freddy vs. Jason,Evil dream-demon Freddy Krueger devises a plan...,14.015739,...,8/15/03,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Evil Will Battle Evil,Freddy vs. Jason,"[{'id': 9826, 'name': 'murder'}, {'id': 10776,...","[{'cast_id': 1, 'character': 'Freddy Krueger',...","[{'credit_id': '52fe4453c3a36847f808f4a5', 'de...",114908830
2951,2952,NaN,13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,tt2057392,en,Eye in the Sky,A military officer in command of a drone opera...,10.564701,...,9/11/15,102.0,"[{'iso_639_1': 'so', 'name': 'Somali'}, {'iso_...",Released,Welcome to the new front line,Eye in the Sky,"[{'id': 949, 'name': 'terrorist'}, {'id': 1193...","[{'cast_id': 4, 'character': 'Colonel Katherin...","[{'credit_id': '55186708c3a36862f6004623', 'de...",18704595
2952,2953,NaN,25000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",http://theageofadalinemovie.com,tt1655441,en,The Age of Adaline,After 29-year-old Adaline recovers from a near...,10.542026,...,4/16/15,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Love is timeless.,The Age of Adaline,"[{'id': 582, 'name': 'san francisco'}, {'id': ...","[{'cast_id': 0, 'character': 'Adaline Bowman',...","[{'credit_id': '54721093c3a3686792002bc5', 'de...",65663276
2953,2954,NaN,8500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,tt0202677,en,The Way of the Gun,Parker and Longbaugh are a pair of low-level p...,6.036330,...,9/8/00,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Way of the Gun,"[{'id': 75, 'name': 'gunslinger'}, {'id': 534,...","[{'cast_id': 1, 'character': 'Mr. Longbaugh', ...","[{'credit_id': '52fe4305c3a36847f8034691', 'de...",19125401
2954,2955,NaN,60000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0375173,en,Alfie,"In Manhattan, the British limousine driver Alf...",10.411608,...,10/22/04,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet a man who never met a woman he didn't love.,Alfie,"[{'id': 242, 'name': 'new york'}, {'id': 1332,...","[{'cast_id': 1, 'character': 'Alfie', 'credit_...","[{'credit_id': '562643e89251413ded006a07', 'de...",13395939
2955,2956,NaN,17000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,tt1210042,en,Brooklyn's Finest,Enforcing the law within the notoriously rough...,12.504220,...,1/16/09,133.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This is War. This is Brooklyn.,Brooklyn's Finest,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 3, 'character': 'Eddie Dugan', 'c...","[{'credit_id': '52fe4500c3a368484e042e7b', 'de...",29536299
2956,2957,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0091055,en,Firewalker,A pair of adventurers try to track down an anc...,3.150899,...,11/21/86,104.0,"[{'iso_639_1': 'hu', 'name': 'Magyar'}, {'iso_...",Released,A pair of down-and-out fortune hunters cash in...,Firewalker,"[{'id': 352, 'name': 'secret passage'}, {'id':...","[{'cast_id': 1, 'character': 'Max Donigan', 'c...","[{'credit_id': '52fe45199251416c7504bbf7', 'de...",11949484
2957,2958,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,7.337906,...,11/21/95,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,"[{'id': 380, 'name': 'brother brother relation...","[{'cast_id': 1, 'character': 'John', 'credit_i...","[{'credit_id': '52fe44509251416c750305a1', 'de...",35431113
2958,2959,NaN,15000000,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",http://www.u23dmovie.com/,tt0892375,en,U2 3D,"A 3-D presentation of U2's global ""Vertigo"" to...",0.900864,...,5/19/07,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hear See Experience,U2 3D,NaN,"[{'cast_id': 0, 'character': 'Himself', 'credi...","[{'credit_id': '57bfd2089251414b1500001e', 'de...",22730842
2959,2960,NaN,2300000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,tt1093370,hi,Jab We Met,"Depressed after the passing of his father, Dha...",3.959411,...,10/26/07,145.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Jab We Met,"[{'id': 2038, 'name': ""love of one's life""}, {...","[{'cast_id': 9, 'character': 'Aditya Kashyap',...","[{'credit_id': '537ef0d8c3a36805a1002844', 'de...",4600000
2960,2961,NaN,4600000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1514041,en,4.3.2.1,Jo is chained down in a dead end supermarket j...,5.805666,...,6/2/10,117.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"4 Girls, 3 Days, 2 Cities, 1 Chance.....",4.3.2.1,NaN,"[{'cast_id': 6, 'character': 'Joanne', 'credit...","[{'credit_id': '52fe46a1c3a36847f810975b', 'de...",1163967
2961,2962,"[{'id': 109592, 'name': ""Porky's Collection"", ...",4000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0084522,en,Porky's,"Set in 1954, a group of Florida high schoolers...",12.650546,...,11/13/81,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Keep an eye out for the funniest movie about g...,Porky's,"[{'id': 255, 'name': 'male nudity'}, {'id': 29...","[{'cast_id': 1, 'character': 'Pee Wee', 'credi...","[{'credit_id': '575f47279251415e1f00012e', 'de...",125728258
2962,2963,NaN,20000000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",http://www.theshack.movie,tt2872518,en,The Shack,"After suffering a family tragedy, Mack Phillip...",16.392712,...,3/3/17,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You're never as alone as you think.,The Shack,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 0, 'character': 'Mack Phillips', ...","[{'credit_id': '591ed967c3a368799b03016c', 'de...",57330873
2963,2964,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.koizora-movie.jp,tt1194664,ja,恋空,"During her freshman year in high school, Mika ...",1.718237,...,11/3/07,129.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Sky Of Love,"[{'id': 6270, 'name': 'high school'}, {'id': 9...","[{'cast_id': 1, 'character': 'Tahara Mika', 'c...","[{'credit_id': '52fe459fc3a36847f80d161b', 'de...",44038000
2964,2965,"[{'id': 173344, 'name': 'Qatsi Collection', 'p...",2500000,"[{'id': 99, 'name': 'Documentary'}, {'id': 18,...",NaN,tt0095895,en,Powaqqatsi,An exploration of technologically developing n...,2.726061,...,4/29/88,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Powaqqatsi,"[{'id': 10183, 'name': 'independent film'}]",[],"[{'credit_id': '52fe4491c3a368484e02a2c3', 'de...",589244
2965,2966,NaN,61000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.lesmiserablesfilm.com,tt1707386,en,Les Misérables,An adaptation of the successful stage musical ...,13.524080,...,12/18/12,157.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fight. Dream. Hope. Love.,Les Misérables,"[{'id': 254, 'name': 'france'}, {'id': 642, 'n...",NaN,NaN,441809770
2966,2967,NaN,40000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0120177,en,Spawn,After being murdered by corrupt colleagues in ...,11.366417,...,7/31/97,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Born in darkness. Sworn to justice.,Spawn,"[{'id': 2095, 'name': 'anti hero'}, {'id': 428...","[{'cast_id': 9, 'character': 'Al Simmons', 'cr...","[{'credit_id': '52fe435b9251416c7500d4d5', 'de...",87840042
2967,2968,"[{'id': 387219, 'name': 'The Hustler Collectio...",2000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0054997,en,The Hustler,Fast Eddie Felson is a small-time pool hustler...,9.333533,...,9/25/61,134.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They called him Fast Eddie. He was a winner. H...,The Hustler,"[{'id': 236, 'name': 'suicide'}, {'id': 395, '...","[{'cast_id': 15, 'character': 'Eddie Felson', ...","[{'credit_id': '52fe4297c3a36847f802a989', 'de...",7600000
2968,2969,"[{'id': 97307, 'name': 'BloodRayne Collection'...",25000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.bloodrayne-themovie.com/main/index....,tt0383222,en,BloodRayne,"In eighteenth century Romania, Rayne, a dhampi...",6.514132,...,10/22/05,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Revenge never tasted so sweet.,BloodRayne,"[{'id': 3133, 'name': 'vampire'}, {'id': 9259,...","[{'cast_id': 3, 'character': 'Rayne', 'credit_...","[{'credit_id': '52fe4cd4c3a36847f82407f7', 'de...",2405420
2969,2970,NaN,19800000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,tt0280707,en,Gosford Park,"Multiple storylined drama set in 1932, showing...",14.101101,...,11/7/01,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Tea at four. Dinner at eight. Murder at midnight.,Gosford Park,"[{'id': 964, 'name': 'servant'}, {'id': 10594,...","[{'cast_id': 2, 'character': 'Mrs. Wilson', 'c...","[{'credit_id': '52fe4401c3a36847f807ceab', 'de...",87754044
2970,2971,NaN,25000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,tt0103855,en,The Bodyguard,A former Secret Service agent grudgingly takes...,9.805017,...,11/25/92,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never let her out of your sight. Never let you...,The Bodyguard,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 17, 'character': 'Rachel Marron',...","[{'credit_id': '52fe425ec3a36847f8019133', 'de...",411006740
2971,2972,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,tt0100201,en,Mr. Destiny,Larry Burrows is unhappy and feels powerless o...,4.414928,...,10/12/90,110.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Larry Burrows Wished For It All... Until All T...,Mr. Destiny,"[{'id': 4896, 'name': 'wish'}]","[{'cast_id': 1, 'character': 'Larry Burrows', ...","[{'credit_id': '52fe4360c3a36847f804f873', 'de...",15379253
2972,2973,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt0482930,cn,龍虎門,Dragon Tiger Gate is a 2006 Hong Kong martial ...,4.154861,...,7/27/06,94.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,Dragon Tiger Gate,"[{'id': 780, 'name': 'kung fu'}]","[{'cast_id': 1, 'character': 'Dragon Wong', 'c...","[{'credit_id': '52fe46869251416c7507b08f', 'de...",8685526
2973,2974,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,tt0089652,en,My Science Project,Michael and Ellie break into a military junkya...,3.868014,...,8/9/85,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We must not destroy the world.,My Science Project,"[{'id': 4379, 'name': 'time travel'}, {'id': 1...","[{'cast_id': 1, 'character': ""Michael 'Mike' H...","[{'credit_id': '52fe476e9251416c75099025', 'de...",4122748
2974,2975,"[{'id': 149704, 'name': 'Alone in the Dark Col...",20000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,tt0369226,en,Alone in the Dark,Edward Carnby is a private investigator specia...,5.871243,...,1/28/05,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Can mankind defeat the army of darkness unleas...,Alone in the Dark,"[{'id': 703, 'name': 'detective'}, {'id': 1299...","[{'cast_id': 12, 'character': 'Edward Carnby',...","[{'credit_id': '52fe44bd9251416c7503f4f1', 'de...",10442808
2975,2976,NaN,45000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",http://www.aliensintheatticmovie.com/,tt0775552,en,Aliens in the Attic,"It's summer vacation, but the Pearson family k...",11.618472,...,7/31/09,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The aliens vs. the Pearsons,Aliens in the Attic,"[{'id': 9951, 'name': 'alien'}, {'id': 10267, ...","[{'cast_id': 4, 'character': 'Tom Pearson', 'c...","[{'credit_id': '537830e40e0a261425003dca', 'de...",57881056
2976,2977,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,tt0186045,en,Drowning Mona,The recently deceased Mona Dearly (Bette Midle...,4.372616,...,3/3/00,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The death of Mona Dearly wasn't so much a whod...,Drowning Mona,"[{'id': 3301, 'name': 'suspicion'}, {'id': 387...","[{'cast_id': 1, 'character': 'Chief Wyatt Rash...","[{'credit_id': '52fe44bbc3a368484e033ccf', 'de...",15427192
2977,2978,NaN,53000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://angeleyesmovie.warnerbros.com/index_nof...,tt0225071,en,Angel Eyes,A story about a seemingly unlikely couple who ...,5.396200,...,5/15/01,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The deeper you look, the more you will find.",Angel Eyes,"[{'id': 9844, 'name': 'car crash'}, {'id': 150...","[{'cast_id': 1, 'character': 'Sharon Pogue', '...","[{'credit_id': '52fe4427c3a36847f8085447', 'de...",29700000
2978,2979,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt0120879,en,Velvet Goldmine,Almost a decade has elapsed since Bowiesque gl...,16.529300,...,10/23/98,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Style matters. Even when it comes to murder.,Velvet Goldmine,"[{'id': 237, 'name': 'gay'}, {'id': 1025, 'nam...","[{'cast_id': 2, 'character': 'Curt Wild', 'cre...","[{'credit_id': '52fe4316c3a36847f803946d', 'de...",1053788
2979,2980,NaN,35000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.theback-upplan.com/,tt1212436,en,The Back-Up Plan,"When Zoe tires of looking for Mr. Right, she d...",6.629999,...,4/23/10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Fall in love, get married, have a baby. Not ne...",The Back-Up Plan,"[{'id': 5091, 'name': 'kiss'}, {'id': 5098, 'n...","[{'cast_id': 22, 'character': 'Zoe', 'credit_i...","[{'credit_id': '52fe457e9251416c91034559', 'de...",77477008
2980,2981,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",https://www.facebook.com/Actionherobiju/,tt5320514,ml,ആക്ഷൻ ഹീറോ ബിജു,Biju is an honest policeman who fights the inj...,0.350207,...,2/4/16,144.0,"[{'iso_639_1': 'ml', 'name': ''}]",Released,A ride with a police officer,Action Hero Biju,"[{'id': 1252, 'name': 'suicide attempt'}, {'id...","[{'cast_id': 1, 'character': 'Sub-Inspector Bi...","[{'credit_id': '56b4d47f92514112b90045f6', 'de...",2500000
2981,2982,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt4158876,en,Other People,"David, a struggling comedy writer fresh off fr...",3.069108,...,9/9/16,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Other People,"[{'id': 234102, 'name': 'misfits'}]","[{'cast_id': 0, 'character': 'David', 'credit_...","[{'credit_id': '57d923309251415959005090', 'de...",93000
2982,2983,NaN,500000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt2063781,en,Smashed,Kate and Charlie like to have a good time. The...,4.893812,...,9/12/12,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Smashed,NaN,"[{'cast_id': 1001, 'character': 'Kate Hannah',...","[{'credit_id': '557455c1c3a3686b7d003df7', 'de...",376597
2983,2984,NaN,35000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,tt0118623,en,Anna Karenina,Anna (Marceau) is a wife and mother who has an...,5.660835,...,4/4/97,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In a world of power and privilege, one woman d...",Anna Karenina,NaN,"[{'cast_id': 1, 'character': 'Anna Karenina', ...","[{'credit_id': '52fe47cac3a36847f81484f7', 'de...",791830
2984,2985,"[{'id': 221111, 'name': 'S.W.A.T. Collection',...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.sonypictures.com/homevideo/swat/,tt0257076,en,S.W.A.T.,Hondo Harrelson recruits Jim Street to join an...,13.334952,...,8/8/03,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,You're either S.W.A.T. or you're not.,S.W.A.T.,"[{'id': 2434, 'name': 'liberation'}, {'id': 35...","[{'cast_id': 25, 'character': ""Sgt. Dan 'Hondo...","[{'credit_id': '5379d4980e0a261431006f58', 'de...",116643346
2985,2986,NaN,37665000,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",http://www.sonypictures.com/homevideo/freedoml...,tt0349467,en,Freedomland,A black police detective must solve a strange ...,5.388535,...,2/17/06,113.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Truth Is Hiding Where No One Dares To Look.,Freedomland,"[{'id': 577, 'name': 'black people'}, {'id': 5...","[{'cast_id': 13, 'character': 'Lorenzo Council...","[{'credit_id': '52fe4551c3a36847f80c76e7', 'de...",14655628
2986,2987,NaN,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,tt0338325,en,Paparazzi,A rising Hollywood actor decides to take perso...,12.553403,...,9/3/04,84.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One good shot deserves another.,Paparazzi,"[{'id': 10183, 'name': 'independent film'}]","[{'cast_id': 1, 'character': 'Bo Laramie', 'cr...","[{'credit_id': '5678044292514179dd008c37', 'de...",16605763
2987,2988,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0096246,en,The Terror Within,Experiments in biological warfare have destroy...,1.292125,...,1/20/89,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It Wants To Get Out!,The Terror Within,"[{'id': 1299, 'name': 'monster'}, {'id': 1852,...","[{'cast_id': 4, 'character': 'Hal', 'credit_id...","[{'credit_id': '52fe45d9c3a368484e072511', 'de...",858591
2988,2989,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0301978,fa,ده,A visual social examination in the form of ten...,0.984515,...,5/20/02,94.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,NaN,Ten,"[{'id': 1156, 'name': 'sister sister relations...","[{'cast_id': 2, 'character': 'Driver', 'credit...","[{'credit_id': '52fe460a9251416c7506b0a7', 'de...",105656
2989,2990,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,tt0206367,en,The Trumpet Of The Swan,The adventures of a young Trumpeter swan who c...,0.851599,...,5/11/01,75.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Sometimes being different helps you to find yo...,The Trumpet Of The Swan,"[{'id': 6653, 'name': 'trumpet'}, {'id': 10407...","[{'cast_id': 1, 'character': 'Father', 'credit...","[{'credit_id': '58bc9d609251416084044b0e', 'de...",100202
2990,2991,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,tt0118663,en,B.A.P.S.,Can two clueless Georgia homegirls with big he...,1.560980,...,3/28/97,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,These Pretty Women... Are Clueless!,B.A.P.S.,"[{'id': 1437, 'name': 'burglar'}, {'id': 1946,...","[{'cast_id': 3, 'character': 'Nisi', 'credit_i...","[{'credit_id': '52fe477b9251416c7509af57', 'de...",7240837
2991,2992,"[{'id': 107469, 'name': 'Save The Last Dance C...",13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,tt0206275,en,Save the Last Dance,"A white midwestern girl moves to Chicago, wher...",4.794088,...,1/12/01,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Only Person You Need To Be Is Yourself.,Save the Last Dance,"[{'id': 4118, 'name': 'ballet dancer'}, {'id':...","[{'cast_id': 18, 'character': 'Sara Johnson', ...","[{'credit_id': '52fe4533c3a36847f80c1c6b', 'de...",91038276
2992,2993,NaN,1135654,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0015400,en,The Thief of Bagdad,A recalcitrant thief vies with a duplicitous M...,3.878515,...,3/18/24,149.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,"""Happiness Must Be Earned""",The Thief of Bagdad,"[{'id': 255, 'name': 'male nudity'}, {'id': 14...","[{'cast_id': 3, 'character': 'The Thief of Bag...","[{'credit_id': '52fe45bec3a368484e06c70b', 'de...",1213880

In [11]:
data.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [12]:
list(data.columns)

['id',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'Keywords',
 'cast',
 'crew',
 'revenue']

In [13]:
data.dtypes

id                         int64
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
Keywords                  object
cast                      object
crew                      object
revenue                    int64
dtype: object

In [14]:
num_data = data.select_dtypes(include =['int64','float64'])

In [15]:
num_data.columns

Index(['id', 'budget', 'popularity', 'runtime', 'revenue'], dtype='object')

In [16]:
cat_data = data.select_dtypes(include = ['object'])
cat_data.columns

Index(['belongs_to_collection', 'genres', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'spoken_languages', 'status', 'tagline', 'title', 'Keywords', 'cast',
       'crew'],
      dtype='object')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [18]:
data.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [19]:
data.describe(include='object')

,belongs_to_collection,genres,homepage,imdb_id,original_language,original_title,overview,poster_path,production_companies,production_countries,release_date,spoken_languages,status,tagline,title,Keywords,cast,crew
count,604,2993,946,3000,3000,3000,2992,2999,2844,2945,3000,2980,3000,2403,3000,2724,2987,2984
unique,422,872,941,3000,36,2975,2992,2999,2383,321,2398,401,2,2400,2969,2648,2975,2984
top,"[{'id': 645, 'name': 'James Bond Collection', ...","[{'id': 18, 'name': 'Drama'}]",http://www.transformersmovie.com/,tt1600195,en,Casino Royale,Anna (Marceau) is a wife and mother who has an...,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",9/10/15,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Loose Cannons,"[{'id': 10183, 'name': 'independent film'}]",[],"[{'credit_id': '5391990d0e0a260fb5001629', 'de..."
freq,16,266,4,1,2575,2,1,1,51,1752,5,1817,2996,3,2,27,13,1

In [20]:
data.isnull()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2996,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2997,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2998,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2999,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
data.isnull().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [22]:
data.dropna(inplace= True)

In [23]:
data.isnull().sum()

id                       0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
Keywords                 0
cast                     0
crew                     0
revenue                  0
dtype: int64

In [24]:
data.duplicated().sum()

np.int64(0)

In [25]:
#data.drop_duplicates()

In [26]:
data['budget']

22              0
40              0
46       80000000
60      150000000
69       85000000
          ...
2904      4000000
2927    140000000
2938    130000000
2968     25000000
2984     80000000
Name: budget, Length: 203, dtype: int64

In [27]:
data[['original_language','original_title','overview','popularity']]

,original_language,original_title,overview,popularity
22,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787
40,en,Cocaine Cowboys,"In the 1980s, ruthless Colombian cocaine baron...",2.941626
46,en,Ice Age: The Meltdown,"Diego, Manny and Sid return in this sequel to ...",16.646029
60,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",23.065078
69,en,The Fast and the Furious: Tokyo Drift,"In order to avoid a jail sentence, Sean Boswel...",2.238808
...,...,...,...,...
2904,en,Trainspotting,"Renton, deeply immersed in the Edinburgh drug ...",19.348466
2927,en,Die Another Day,Bond takes on a North Korean leader who underg...,12.996474
2938,en,Prometheus,A team of explorers discover a clue to the ori...,16.624854
2968,en,BloodRayne,"In eighteenth century Romania, Rayne, a dhampi...",6.514132
2984,en,S.W.A.T.,Hondo Harrelson recruits Jim Street to join an...,13.334952

In [28]:
sliced_df = data.iloc[0:2,2:4]
for col in sliced_df.columns:
    print(f"Unique values in column '{col}':")
    print(sliced_df[col].unique())

Unique values in column 'budget':
[0]
Unique values in column 'genres':
["[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]"
 "[{'id': 28, 'name': 'Action'}, {'id': 99, 'name': 'Documentary'}]"]

In [29]:
data.iloc[0:2,2].unique()

array([0])

In [30]:
data.iloc[0:100,2].value_counts()

budget
0            9
150000000    6
6000000      4
40000000     4
50000000     4
200000000    3
17000000     3
85000000     3
20000000     3
80000000     2
7000000      2
30000000     2
250000000    2
19000000     2
5000000      2
90000000     2
35000000     2
15000000     2
100000000    2
49000000     1
10000000     1
45000000     1
93000000     1
32000000     1
175000000    1
27000        1
160000000    1
21000000     1
7500000      1
9000000      1
48000000     1
79000000     1
110000000    1
7200000      1
103000000    1
26000000     1
75000000     1
2700000      1
59000000     1
54000000     1
57000000     1
185000000    1
13000000     1
113000000    1
135000000    1
60000000     1
800000       1
12000000     1
5600000      1
14000000     1
105000000    1
58000000     1
220000000    1
15000        1
1500000      1
16000000     1
65000000     1
38000000     1
165000000    1
6500000      1
Name: count, dtype: int64

In [31]:
data.iloc[0:2,2:4].value_counts()

budget  genres
0       [{'id': 28, 'name': 'Action'}, {'id': 99, 'name': 'Documentary'}]    1
        [{'id': 53, 'name': 'Thriller'}, {'id': 27, 'name': 'Horror'}]       1
Name: count, dtype: int64

In [32]:
type(data.iloc[0:2,2:4].value_counts())

pandas.core.series.Series

In [33]:
data.iloc[0:2,2:4].value_counts().reset_index()

   budget                                             genres  count
0       0  [{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...      1
1       0  [{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...      1

In [34]:
data.sort_values('revenue',ascending=False)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
1126,1127,"[{'id': 86311, 'name': 'The Avengers Collectio...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,89.887648,...,4/25/12,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,"[{'id': 242, 'name': 'new york'}, {'id': 5539,...","[{'cast_id': 46, 'character': 'Tony Stark / Ir...","[{'credit_id': '52fe4495c3a368484e02b1cf', 'de...",1519557910
1761,1762,"[{'id': 9485, 'name': 'The Fast and the Furiou...",190000000,"[{'id': 28, 'name': 'Action'}]",http://www.furious7.com/,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,27.275687,...,4/1/15,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,"[{'id': 830, 'name': 'car race'}, {'id': 3428,...","[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360
2770,2771,"[{'id': 86311, 'name': 'The Avengers Collectio...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,37.379420,...,4/22/15,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,"[{'id': 8828, 'name': 'marvel comic'}, {'id': ...","[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...",1405403694
2322,2323,"[{'id': 8650, 'name': 'Transformers Collection...",195000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,tt1399103,en,Transformers: Dark of the Moon,Sam Witwicky takes his first tenuous steps int...,4.503505,...,6/28/11,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The invasion we always feared. An enemy we nev...,Transformers: Dark of the Moon,"[{'id': 305, 'name': 'moon'}, {'id': 1612, 'na...","[{'cast_id': 3, 'character': 'Sam Witwicky', '...","[{'credit_id': '537f0b740e0a2624b40044d0', 'de...",1123746996
2135,2136,"[{'id': 295, 'name': 'Pirates of the Caribbean...",380000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://disney.go.com/pirates/index-on-stranger...,tt1298650,en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,27.887720,...,5/14/11,136.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,"[{'id': 658, 'name': 'sea'}, {'id': 1316, 'nam...","[{'cast_id': 15, 'character': 'Captain Jack Sp...","[{'credit_id': '566b4f54c3a3683f56005151', 'de...",1045713802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,515,"[{'id': 206559, 'name': 'StreetDance Collectio...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.highstrungthemovie.com/,tt3451230,en,High Strung,When a hip hop violinist busking in the New Yo...,6.625607,...,4/8/16,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,See the music. Hear the dance.,High Strung,"[{'id': 1691, 'name': 'dance'}, {'id': 4721, '...","[{'cast_id': 3, 'character': 'Ruby', 'credit_i...","[{'credit_id': '56be2f489251417359004545', 'de...",53447
2276,2277,"[{'id': 286038, 'name': 'Dead Snow Collection'...",0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.deadsnow.com/,tt2832470,no,Død Snø 2,The gruesome Nazi Zombies are back to finish t...,10.287127,...,2/12/14,100.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Heads up. They're back.,Dead Snow 2: Red vs. Dead,"[{'id': 2652, 'name': 'nazis'}, {'id': 9663, '...","[{'cast_id': 19, 'character': 'Martin', 'credi...","[{'credit_id': '52fe4ebfc3a36847f82a57f3', 'de...",37473
1499,1500,"[{'id': 473843, 'name': 'Stake Land Collection...",650000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.stakelandthefilm.com/,tt1464580,en,Stake Land,Martin was a normal teenage boy before the cou...,7.814255,...,9/30/10,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Most Dangerous Thing Is To Be Alive.,Stake Land,"[{'id': 255, 'name': 'male nudity'}, {'id': 13...","[{'cast_id': 2, 'character': 'Belle', 'credit_...","[{'credit_id': '537483fcc3a36815180026ee', 'de...",33245
1563,1564,"[{'id': 87186, 'name': 'The Boondock Saints Co...",6000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.theboondocksaints.com,tt0144117,en,The Boondock Saints,With a God-inspired moral obligation to act ag...,12.457908,...,1/22/99,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Thy Kingdom Come. Thy Will Be Done.,The Boondock Saints,"[{'id': 1679, 'name': 'arbitrary law'}, {'id':...","[{'cast_id': 1, 'character': 'Paul Smecker', '...","[{'credit_id': '52fe44a3c3a36847f80a1a91', 'de...",30471
665,666,"[{'id': 86668, 'name': 'Elektra Luxx Collectio...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.elektraluxx-movie.com/,tt1340773,en,Elektra Luxx,A favor for a woman from her past throws the l...,4.118699,...,3/14/10,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From adult film star to functioning adult.,Elektra Luxx,"[{'id': 10183, 'name': 'independent film'}, {'...","[{'cast_id': 3, 'character': 'Elektra Luxx', '...","[{'credit_id': '52fe48f6c3a36847f818264f', 'de...",10

In [35]:
data.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [36]:
data.rename(columns={'revenue':'Revenue','id':'Id','production_companies':'Companies','production_countries':'Countries'},inplace=True)

In [37]:
data.columns

Index(['Id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'Companies', 'Countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'Revenue'],
      dtype='object')

In [38]:
data.loc[:,'Profit']=data.loc[:,'Revenue']-data.loc[:,'budget']

In [39]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,Revenue,Profit
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This collection is killer.,V/H/S,"[{'id': 6435, 'name': 'webcam'}, {'id': 9706, ...","[{'cast_id': 1, 'character': 'Gary', 'credit_i...","[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,100345
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,Cocaine Cowboys,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How Miami became the cocaine capital of the Un...,Cocaine Cowboys,"[{'id': 2150, 'name': 'cocaine'}, {'id': 2231,...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe46179251416c7506cc15', 'de...",163000,163000
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,Ice Age: The Meltdown,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Ice age is melting away.,Ice Age: The Meltdown,"[{'id': 2078, 'name': 'mammoth'}, {'id': 2079,...","[{'cast_id': 1, 'character': 'Manny (voice)', ...","[{'credit_id': '52fe4292c3a36847f80292c9', 'de...",660940780,580940780
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,144.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Everyone has a past. Every legend has a beginn...,Casino Royale,"[{'id': 131, 'name': 'italy'}, {'id': 383, 'na...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '53ac1fd7c3a3684bc8001908', 'de...",599045960,449045960
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,The Fast and the Furious: Tokyo Drift,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"On the streets of Tokyo, speed needs no transl...",The Fast and the Furious: Tokyo Drift,"[{'id': 830, 'name': 'car race'}, {'id': 1926,...","[{'cast_id': 12, 'character': 'Sean Boswell', ...","[{'credit_id': '56784ed792514111900002c8', 'de...",158468292,73468292

In [40]:
data.loc[:,'Half_runtime'] = data.loc[:,'runtime']/2

In [41]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,Revenue,Profit,Half_runtime
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This collection is killer.,V/H/S,"[{'id': 6435, 'name': 'webcam'}, {'id': 9706, ...","[{'cast_id': 1, 'character': 'Gary', 'credit_i...","[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,100345,58.0
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,Cocaine Cowboys,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How Miami became the cocaine capital of the Un...,Cocaine Cowboys,"[{'id': 2150, 'name': 'cocaine'}, {'id': 2231,...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe46179251416c7506cc15', 'de...",163000,163000,59.0
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,Ice Age: The Meltdown,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Ice age is melting away.,Ice Age: The Meltdown,"[{'id': 2078, 'name': 'mammoth'}, {'id': 2079,...","[{'cast_id': 1, 'character': 'Manny (voice)', ...","[{'credit_id': '52fe4292c3a36847f80292c9', 'de...",660940780,580940780,45.5
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Everyone has a past. Every legend has a beginn...,Casino Royale,"[{'id': 131, 'name': 'italy'}, {'id': 383, 'na...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '53ac1fd7c3a3684bc8001908', 'de...",599045960,449045960,72.0
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,The Fast and the Furious: Tokyo Drift,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"On the streets of Tokyo, speed needs no transl...",The Fast and the Furious: Tokyo Drift,"[{'id': 830, 'name': 'car race'}, {'id': 1926,...","[{'cast_id': 12, 'character': 'Sean Boswell', ...","[{'credit_id': '56784ed792514111900002c8', 'de...",158468292,73468292,52.0

In [42]:
data.loc[:,'new_released_date']=pd.to_datetime(data.loc[:,'release_date'])

/tmp/ipython-input-455865037.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data.loc[:,'new_released_date']=pd.to_datetime(data.loc[:,'release_date'])

In [43]:
data.loc[:,'year'] = data.loc[:,'new_released_date'].dt.year

In [44]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,tagline,title,Keywords,cast,crew,Revenue,Profit,Half_runtime,new_released_date,year
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,This collection is killer.,V/H/S,"[{'id': 6435, 'name': 'webcam'}, {'id': 9706, ...","[{'cast_id': 1, 'character': 'Gary', 'credit_i...","[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,100345,58.0,2012-07-28,2012
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,Cocaine Cowboys,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,How Miami became the cocaine capital of the Un...,Cocaine Cowboys,"[{'id': 2150, 'name': 'cocaine'}, {'id': 2231,...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe46179251416c7506cc15', 'de...",163000,163000,59.0,2006-04-26,2006
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,Ice Age: The Meltdown,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,The Ice age is melting away.,Ice Age: The Meltdown,"[{'id': 2078, 'name': 'mammoth'}, {'id': 2079,...","[{'cast_id': 1, 'character': 'Manny (voice)', ...","[{'credit_id': '52fe4292c3a36847f80292c9', 'de...",660940780,580940780,45.5,2006-03-23,2006
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,Everyone has a past. Every legend has a beginn...,Casino Royale,"[{'id': 131, 'name': 'italy'}, {'id': 383, 'na...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '53ac1fd7c3a3684bc8001908', 'de...",599045960,449045960,72.0,2006-11-14,2006
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,The Fast and the Furious: Tokyo Drift,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,"On the streets of Tokyo, speed needs no transl...",The Fast and the Furious: Tokyo Drift,"[{'id': 830, 'name': 'car race'}, {'id': 1926,...","[{'cast_id': 12, 'character': 'Sean Boswell', ...","[{'credit_id': '56784ed792514111900002c8', 'de...",158468292,73468292,52.0,2006-06-03,2006

In [45]:
data.loc[:,'month']=data.loc[:,'new_released_date'].dt.month

In [46]:
data.loc[:,'month_Name']=data.loc[:,'new_released_date'].dt.month_name

In [47]:
data.loc[:,'day']=data.loc[:,'new_released_date'].dt.day

In [48]:
data.loc[:,'original_language'].replace({'en','english'},inplace=True)

/tmp/ipython-input-2044314414.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  data.loc[:,'original_language'].replace({'en','english'},inplace=True)
/tmp/ipython-input-2044314414.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.loc[:,'original_language'].replace({'en','english'},inplace=True)

In [49]:
data.loc[:,'original_language'].replace({'hi','hindi'},inplace=True)

/tmp/ipython-input-4239551766.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  data.loc[:,'original_language'].replace({'hi','hindi'},inplace=True)
/tmp/ipython-input-4239551766.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.loc[:,'original_language'].replace({'hi','hindi'},inplace=True)

In [50]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,cast,crew,Revenue,Profit,Half_runtime,new_released_date,year,month,month_Name,day
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,"[{'cast_id': 1, 'character': 'Gary', 'credit_i...","[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,100345,58.0,2012-07-28,2012,7,<bound method PandasDelegate._add_delegate_acc...,28
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,Cocaine Cowboys,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,"[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe46179251416c7506cc15', 'de...",163000,163000,59.0,2006-04-26,2006,4,<bound method PandasDelegate._add_delegate_acc...,26
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,Ice Age: The Meltdown,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,"[{'cast_id': 1, 'character': 'Manny (voice)', ...","[{'credit_id': '52fe4292c3a36847f80292c9', 'de...",660940780,580940780,45.5,2006-03-23,2006,3,<bound method PandasDelegate._add_delegate_acc...,23
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '53ac1fd7c3a3684bc8001908', 'de...",599045960,449045960,72.0,2006-11-14,2006,11,<bound method PandasDelegate._add_delegate_acc...,14
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,The Fast and the Furious: Tokyo Drift,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,"[{'cast_id': 12, 'character': 'Sean Boswell', ...","[{'credit_id': '56784ed792514111900002c8', 'de...",158468292,73468292,52.0,2006-06-03,2006,6,<bound method PandasDelegate._add_delegate_acc...,3

In [51]:
data.loc[data.loc[:,"original_language"]=='english']

Empty DataFrame
Columns: [Id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, Companies, Countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, Revenue, Profit, Half_runtime, new_released_date, year, month, month_Name, day]
Index: []

[0 rows x 30 columns]

In [52]:
data.loc[data.loc[:,"original_language"]=='hindi']

Empty DataFrame
Columns: [Id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, Companies, Countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, Revenue, Profit, Half_runtime, new_released_date, year, month, month_Name, day]
Index: []

[0 rows x 30 columns]

In [53]:
data.loc[data.loc[:,"year"]>2014]

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,cast,crew,Revenue,Profit,Half_runtime,new_released_date,year,month,month_Name,day
294,295,"[{'id': 131635, 'name': 'The Hunger Games Coll...",160000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.thehungergames.movie/,tt1951266,en,The Hunger Games: Mockingjay - Part 2,"With the nation of Panem in a full scale war, ...",26.628178,...,"[{'cast_id': 2, 'character': 'Katniss Everdeen...","[{'credit_id': '551e57929251411d8d00029a', 'de...",653428261,493428261,68.5,2015-11-18,2015,11,<bound method PandasDelegate._add_delegate_acc...,18
314,315,"[{'id': 87118, 'name': 'Cars Collection', 'pos...",175000000,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",http://cars.disney.com,tt3606752,en,Cars 3,Blindsided by a new generation of blazing-fast...,19.148182,...,"[{'cast_id': 1, 'character': 'Lightning McQuee...","[{'credit_id': '577a76f9c3a3687716000419', 'de...",350170057,175170057,54.5,2017-06-15,2017,6,<bound method PandasDelegate._add_delegate_acc...,15
351,352,"[{'id': 645, 'name': 'James Bond Collection', ...",7200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/529/Diamonds-Are...,tt0066995,en,Diamonds Are Forever,Diamonds are stolen only to be sold again in t...,12.004910,...,"[{'cast_id': 19, 'character': 'James Bond', 'c...","[{'credit_id': '52fe426ac3a36847f801cc15', 'de...",116019547,108819547,60.0,2071-12-13,2071,12,<bound method PandasDelegate._add_delegate_acc...,13
514,515,"[{'id': 206559, 'name': 'StreetDance Collectio...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.highstrungthemovie.com/,tt3451230,en,High Strung,When a hip hop violinist busking in the New Yo...,6.625607,...,"[{'cast_id': 3, 'character': 'Ruby', 'credit_i...","[{'credit_id': '56be2f489251417359004545', 'de...",53447,53447,48.0,2016-04-08,2016,4,<bound method PandasDelegate._add_delegate_acc...,8
548,549,"[{'id': 426103, 'name': 'Ouija Collection', 'p...",9000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://ouijamovie.com/,tt4361050,en,Ouija: Origin of Evil,"In 1965 Los Angeles, a widowed mother and her ...",10.182974,...,"[{'cast_id': 1, 'character': 'Alice Zander', '...","[{'credit_id': '56911317c3a3686b550023c4', 'de...",81705746,72705746,49.5,2016-10-20,2016,10,<bound method PandasDelegate._add_delegate_acc...,20
699,700,"[{'id': 376650, 'name': 'Ride Along Collection...",40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.ridealong.com/,tt2869728,en,Ride Along 2,"As his wedding day approaches, Ben heads to Mi...",9.420931,...,"[{'cast_id': 1, 'character': 'Ben Barber', 'cr...","[{'credit_id': '54d360749251413fc10034b7', 'de...",124827316,84827316,51.0,2016-01-14,2016,1,<bound method PandasDelegate._add_delegate_acc...,14
809,810,"[{'id': 115776, 'name': 'Robert Langdon Collec...",75000000,"[{'id': 53, 'name': 'Thriller'}]",http://www.infernothemovie.com/,tt3062096,en,Inferno,"After waking up in a hospital with amnesia, pr...",18.311054,...,"[{'cast_id': 0, 'character': 'Robert Langdon',...","[{'credit_id': '57aead299251410a82001218', 'de...",220021259,145021259,60.5,2016-10-13,2016,10,<bound method PandasDelegate._add_delegate_acc...,13
818,819,"[{'id': 167613, 'name': 'Alvin and the Chipmun...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.foxmovies.com/movies/alvin-and-the-...,tt2974918,en,Alvin and the Chipmunks: The Road Chip,"Through a series of misunderstandings, Alvin, ...",14.307672,...,"[{'cast_id': 16, 'character': 'Dave', 'credit_...","[{'credit_id': '547f79b7c3a3683d8e0004fe', 'de...",233755553,233755553,46.0,2015-12-17,2015,12,<bound method PandasDelegate._add_delegate_acc...,17
837,838,"[{'id': 8945, 'name': 'Mad Max Collection', 'p...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.madmaxmovie.com/,tt1392190,en,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,29.361780,...,"[{'cast_id': 2, 'character': 'Max Rockatansky'...","[{'credit_id': '53d451210e0a262841002dd1', 'de...",378858340,228858340,60.0,2015-05-13,2015,5,<bound method PandasDelegate._add_delegate_acc...,13
1038,1039,"[{'id': 401562, 'name': 'Teenage Mutant Ninja ...",135000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",http://www.teenagemutantninjaturtlesmovie.com/,tt3949660,en,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",13.047776,...,"[{'cast_id': 3, 'character': ""April O'Neil"", '...","[{'credit_id': '548315c292514175f5001823', 'de...",245623848,110623848,56.0,2016-06-01,2016,6,<bound method PandasDelegate._add_delegate_acc...,1
1093,1094,"[{'id': 230, 'name': 'The Godfather Collection...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",41.109264,...,"[{'cast_id': 5, 'character': 'Don Vito Corleon...","[{'credit_id': '52fe422bc3a36847f80093db', 'de...",245066411,239066411,87.5,2072-03-14,2072,3,<bound method PandasDelegate._add_delegate_acc...,14
1124,1125,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",105000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.iceagemovies.com/films/ice-age-coll...,tt3416828,en,Ice Age: Collision Course,"Set after the events of Continental Drift, Scr...",20.151037,...,"[{'cast_id': 7, 'character': 'Manny (voice)', ...","[{'credit_id': '551b875dc3a3687670001d1e', 'de...",408579038,303579038,50.0,2016-06-23,2016,6,<bound method PandasDelegate._add_delegate_acc...,23
1514,1515,"[{'id': 357173, 'name': 'Sinister Collection',...",10000000,"[{'id': 27, 'name': 'Horror'}]",http://www.sinistermovie.com/,tt2752772,en,Sinister 2,A young mother and her twin sons move into a r...,17.602928,...,"[{'cast_id': 1, 'character': 'Courtney Collins...","[{'credit_id': '5666bb3bc3a36808e6000bb0', 'de...",52882018,42882018,48.5,2015-08-19,2015,8,<bound method PandasDelegate._add_delegate_acc...,19
1630,1631,"[{'id': 8650, 'name': 'Transformers Collection...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,tt3371366,en,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",39.186819,...,"[{'cast_id': 2, 'character': 'Cade Yeager', 'c...","[{'credit_id': '5553e38bc3a368208f000502', 'de...",604942143,344942143,74.5,2017-06-21,2017,6,<bound method PandasDelegate._add_delegate_acc...,21
1643,1644,"[{'id': 295130, 'name': 'The Maze Runner Colle...",61000000,"[{'id': 28, 'name': 'Action'}]",http://mazerunnermovies.com,tt4046784,en,Maze Runner: The Scorch Trials,Thomas and his fellow Gladers face their great...,41.225769,...,"[{'cast_id': 0, 'character': 'Thomas', 'credit...","[{'credit_id': '55fe9c50c3a3681334002f5b', 'de...",311256926,250256926,66.0,2015-09-09,2015,9,<bound method PandasDelegate._add_delegate_acc...,9
1715,1716,"[{'id': 173710, 'name': 'Planet of the Apes (R...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,tt3450958,en,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,146.161786,...,"[{'cast_id': 6, 'character': 'Caesar', 'credit...","[{'credit_id': '591f036fc3a368774e036079', 'de...",369907963,217907963,70.0,2017-07-11,2017,7,<bound method PandasDelegate._add_delegate_acc...,11
1761,1762,"[{'id': 9485, 'name': 'The Fast and the Furiou...",190000000,"[{'id': 28, 'name': 'Action'}]",http://www.furious7.com/,tt2820852,en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,27.275687,...,"[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360,1316249360,68.5,2015-04-01,2015,4,<bound method PandasDelegate._add_delegate_acc...,1
2126,2127,"[{'id': 284433, 'name': 'Guardians of the Gala...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/221/guardians_o...,tt3896198,en,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,185.330992,...,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",863416141,663416141,68.5,2017-04-19,2017,4,<bound method PandasDelegate._add_delegate_acc...,19
2274,2275,"[{'id': 386534, 'name': '... Has Fallen Collec...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",https://www.facebook.com/LondonHasFallenOfficial,tt3300542,en,London Has Fallen,"In London for the Prime Minister's funeral, Mi...",15.037993,...,"[{'cast_id': 3, 'character': 'Mike Banning', '...","[{'credit_id': '5363c191c3a368157d002773', 'de...",205754447,145754447,49.5,2016-03-02,2016,3,<bound method PandasDelegate._add_delegate_acc...,2
2326,2327,"[{'id': 448150, 'name': 'Deadpool Collection',...",58000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.foxmovies.com/movies/deadpool,tt1431045,en,Deadpool,Deadpool tells the origin story of former Spec...,187.860492,...,"[{'cast_id': 99, 'character': 'Wade Wilson / D...","[{'credit_id': '57e564fac3a3681beb0000cc', 'de...",783112979,725112979,54.0,2016-02-09,2016,2,<bound method PandasDelegate._add_delegate_acc...,9
2333,2334,"[{'id': 645, 'name': 'James Bond Collection', ...",9500000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.mgm.com/view/movie/2347/You-Only-Li...,tt0062512,en,You Only Live Twice,A mysterious space craft kidnaps a Russian and...,10.359669,...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe4267c3a36847f801bbd1', 'de...",111584787,102084787,58.5,2067-06-12,2067,6,<bound method PandasDelegate._add_delegate_acc...,12
2349,2350,"[{'id': 12263, 'name': 'The Exorcist Collectio...",8000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://theexorcist.warnerbros.com/,tt0070047,en,The Exorcist,12-year-old Regan MacNeil begins to adapt an e...,12.137595,...,"[{'cast_id': 14, 'character': 'Regan', 'credit...","[{'credit_id': '52fe4508c3a36847f80b865d', 'de...",441306145,433306145,61.0,2073-12-26,2073,12,<bound method PandasDelegate._add_delegate_acc...,26
2391,2392,"[{'id': 645, 'name': 'James Bond Collection', ...",5500000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/2009/Thunderball/,tt0059800,en,Thunderball,A criminal organization has obtained two nucle...,10.517835,...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe4265c3a36847f801b5ad', 'de...",141195658,135695658,65.0,2065-12-16,2065,12,<bound method PandasDelegate._add_delegate_acc...,16
2431,2432,"[{'id': 313086, 'name': 'The Conjuring Collect...",40000000,"[{'id': 27, 'name': 'Horror'}]",http://www.warnerbros.com/conjuring-2,tt3065204,en,The Conjuring 2,Lorraine and Ed Warren travel to north London ...,14.767317,...,"[{'cast_id': 1, 'character': 'Ed Warren', 'cre...","[{'credit_id': '5327f4c99251411a0d001c70', 'de...",320170008,280170008,67.0,2016-05-13,2016,5,<bound method PandasDelegate._add_delegate_acc...,13
2562,2563,"[{'id': 137697, 'name': 'Finding Nemo Collecti...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://movies.disney.com/finding-dory,tt2277860,en,Finding Dory,Dory is reunited with her friends Nemo and Mar...,14.477677,...,"[{'cast_id': 2, 'character': 'Dory (voice)', '...","[{'credit_id': '55eb2fbb92514106d60041ab', 'de...",1028570889,828570889,48.5,2016-06-16,2016,6,<bound method PandasDelegate._add_delegate_acc...,16
2737,2738,"[{'id': 645, 'name': 'James Bond Collection', ...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/spectre/,tt2379713,en,Spectre,A cryptic message from Bond‚Äôs past sends him...,24.926577,...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '5751eed59251416b60000637', 'de...",880674609,635674609,74.0,2015-10-26,2015,10,<bound method PandasDelegate._add_delegate_acc...,26
2770,2771,"[{'id': 86311, 'name': 'The Avengers Collectio...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,tt2395427,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,37.379420,...,"[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...",1405403694,1125403694,70.5,2015-04-22,2015,4,<bound method PandasDelegate._add_delegate_acc...,22
2890,2891,"[{'id': 14563, 'name': 'The Ring Collection', ...",25000000,"[{'id': 27, 'name': 'Horror'}]",http://www.ringsmovie.com/,tt0498381,en,Rings,"Julia becomes worried about her boyfriend, Hol...",24.535733,...,"[{'cast_id': 14, 'character': 'Julia', 'credit...","[{'credit_id': '52fe46019251416c75069e25', 'de...",83080890,58080890,51.0,2017-02-01,2017,2,<bound method PandasDelegate._add_delegate_acc...,1

In [54]:
data.loc[(data.loc[:,'year']=='2012') | (data.loc[:,'year']=='2013')]

Empty DataFrame
Columns: [Id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, Companies, Countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, Revenue, Profit, Half_runtime, new_released_date, year, month, month_Name, day]
Index: []

[0 rows x 30 columns]

In [55]:
def to_uppercase(column):
  return column.upper()

data.loc[:,"capitalized_title"] = data.loc[:,"title"].apply(to_uppercase)

In [56]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,crew,Revenue,Profit,Half_runtime,new_released_date,year,month,month_Name,day,capitalized_title
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,"[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,100345,58.0,2012-07-28,2012,7,<bound method PandasDelegate._add_delegate_acc...,28,V/H/S
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,Cocaine Cowboys,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,"[{'credit_id': '52fe46179251416c7506cc15', 'de...",163000,163000,59.0,2006-04-26,2006,4,<bound method PandasDelegate._add_delegate_acc...,26,COCAINE COWBOYS
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,Ice Age: The Meltdown,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,"[{'credit_id': '52fe4292c3a36847f80292c9', 'de...",660940780,580940780,45.5,2006-03-23,2006,3,<bound method PandasDelegate._add_delegate_acc...,23,ICE AGE: THE MELTDOWN
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,"[{'credit_id': '53ac1fd7c3a3684bc8001908', 'de...",599045960,449045960,72.0,2006-11-14,2006,11,<bound method PandasDelegate._add_delegate_acc...,14,CASINO ROYALE
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,The Fast and the Furious: Tokyo Drift,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,"[{'credit_id': '56784ed792514111900002c8', 'de...",158468292,73468292,52.0,2006-06-03,2006,6,<bound method PandasDelegate._add_delegate_acc...,3,THE FAST AND THE FURIOUS: TOKYO DRIFT

In [57]:
data.loc[:,'original_title']= data.loc[:,'original_title'].apply(to_uppercase)

In [58]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,crew,Revenue,Profit,Half_runtime,new_released_date,year,month,month_Name,day,capitalized_title
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,"[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,100345,58.0,2012-07-28,2012,7,<bound method PandasDelegate._add_delegate_acc...,28,V/H/S
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,COCAINE COWBOYS,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,"[{'credit_id': '52fe46179251416c7506cc15', 'de...",163000,163000,59.0,2006-04-26,2006,4,<bound method PandasDelegate._add_delegate_acc...,26,COCAINE COWBOYS
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,ICE AGE: THE MELTDOWN,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,"[{'credit_id': '52fe4292c3a36847f80292c9', 'de...",660940780,580940780,45.5,2006-03-23,2006,3,<bound method PandasDelegate._add_delegate_acc...,23,ICE AGE: THE MELTDOWN
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,CASINO ROYALE,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,"[{'credit_id': '53ac1fd7c3a3684bc8001908', 'de...",599045960,449045960,72.0,2006-11-14,2006,11,<bound method PandasDelegate._add_delegate_acc...,14,CASINO ROYALE
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,THE FAST AND THE FURIOUS: TOKYO DRIFT,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,"[{'credit_id': '56784ed792514111900002c8', 'de...",158468292,73468292,52.0,2006-06-03,2006,6,<bound method PandasDelegate._add_delegate_acc...,3,THE FAST AND THE FURIOUS: TOKYO DRIFT

In [59]:
data.columns

Index(['Id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'Companies', 'Countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'Revenue', 'Profit', 'Half_runtime',
       'new_released_date', 'year', 'month', 'month_Name', 'day',
       'capitalized_title'],
      dtype='object')

In [60]:
def to_lowercase(value):
  if isinstance(value,str):
    return value.lower()
  return value

In [61]:
isinstance("hello",str)

True

In [62]:
isinstance(2,int)

True

In [63]:
data.loc[:,'tagline'] = data.loc[:,'tagline'].apply(to_lowercase)

In [64]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,crew,Revenue,Profit,Half_runtime,new_released_date,year,month,month_Name,day,capitalized_title
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,"[{'credit_id': '52fe48ee9251416c9109d113', 'de...",100345,100345,58.0,2012-07-28,2012,7,<bound method PandasDelegate._add_delegate_acc...,28,V/H/S
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,COCAINE COWBOYS,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,"[{'credit_id': '52fe46179251416c7506cc15', 'de...",163000,163000,59.0,2006-04-26,2006,4,<bound method PandasDelegate._add_delegate_acc...,26,COCAINE COWBOYS
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,ICE AGE: THE MELTDOWN,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,"[{'credit_id': '52fe4292c3a36847f80292c9', 'de...",660940780,580940780,45.5,2006-03-23,2006,3,<bound method PandasDelegate._add_delegate_acc...,23,ICE AGE: THE MELTDOWN
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,CASINO ROYALE,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,"[{'credit_id': '53ac1fd7c3a3684bc8001908', 'de...",599045960,449045960,72.0,2006-11-14,2006,11,<bound method PandasDelegate._add_delegate_acc...,14,CASINO ROYALE
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,THE FAST AND THE FURIOUS: TOKYO DRIFT,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,"[{'credit_id': '56784ed792514111900002c8', 'de...",158468292,73468292,52.0,2006-06-03,2006,6,<bound method PandasDelegate._add_delegate_acc...,3,THE FAST AND THE FURIOUS: TOKYO DRIFT

In [65]:
def calculate_profit(row):
  return row['Revenue'] - row['budget']

data.loc[:,'profit'] = data.apply(calculate_profit,axis=1)

In [66]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,Revenue,Profit,Half_runtime,new_released_date,year,month,month_Name,day,capitalized_title,profit
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,en,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,100345,100345,58.0,2012-07-28,2012,7,<bound method PandasDelegate._add_delegate_acc...,28,V/H/S,100345
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,en,COCAINE COWBOYS,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,163000,163000,59.0,2006-04-26,2006,4,<bound method PandasDelegate._add_delegate_acc...,26,COCAINE COWBOYS,163000
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,en,ICE AGE: THE MELTDOWN,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,660940780,580940780,45.5,2006-03-23,2006,3,<bound method PandasDelegate._add_delegate_acc...,23,ICE AGE: THE MELTDOWN,580940780
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,en,CASINO ROYALE,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,599045960,449045960,72.0,2006-11-14,2006,11,<bound method PandasDelegate._add_delegate_acc...,14,CASINO ROYALE,449045960
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,en,THE FAST AND THE FURIOUS: TOKYO DRIFT,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,158468292,73468292,52.0,2006-06-03,2006,6,<bound method PandasDelegate._add_delegate_acc...,3,THE FAST AND THE FURIOUS: TOKYO DRIFT,73468292

In [67]:
def revised_profit(revenue,budget):
  return revenue-budget

data['new_profit'] = data.apply(lambda x: revised_profit(x['Revenue'], x['budget']), axis=1)

In [68]:
data.loc[:,'original_language'] = data.loc[:,'original_language'].apply(lambda x: x.upper())

In [69]:
data.loc[:,'popularity_new'] = data.loc[:,'popularity'].apply(lambda x: round(x,2))

In [70]:
data.loc[:,'profit_value'] = data.loc[:,'profit'].apply(lambda x: 'positive' if x>0 else 'negative')

In [71]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,new_released_date,year,month,month_Name,day,capitalized_title,profit,new_profit,popularity_new,profit_value
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,EN,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,2012-07-28,2012,7,<bound method PandasDelegate._add_delegate_acc...,28,V/H/S,100345,100345,7.82,positive
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,EN,COCAINE COWBOYS,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,2006-04-26,2006,4,<bound method PandasDelegate._add_delegate_acc...,26,COCAINE COWBOYS,163000,163000,2.94,positive
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,EN,ICE AGE: THE MELTDOWN,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,2006-03-23,2006,3,<bound method PandasDelegate._add_delegate_acc...,23,ICE AGE: THE MELTDOWN,580940780,580940780,16.65,positive
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,EN,CASINO ROYALE,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,2006-11-14,2006,11,<bound method PandasDelegate._add_delegate_acc...,14,CASINO ROYALE,449045960,449045960,23.07,positive
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,EN,THE FAST AND THE FURIOUS: TOKYO DRIFT,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,2006-06-03,2006,6,<bound method PandasDelegate._add_delegate_acc...,3,THE FAST AND THE FURIOUS: TOKYO DRIFT,73468292,73468292,2.24,positive

In [72]:
data.columns

Index(['Id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'Companies', 'Countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'Revenue', 'Profit', 'Half_runtime',
       'new_released_date', 'year', 'month', 'month_Name', 'day',
       'capitalized_title', 'profit', 'new_profit', 'popularity_new',
       'profit_value'],
      dtype='object')

In [73]:
data.loc[1:'genres']

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,new_released_date,year,month,month_Name,day,capitalized_title,profit,new_profit,popularity_new,profit_value
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,EN,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,2012-07-28,2012,7,<bound method PandasDelegate._add_delegate_acc...,28,V/H/S,100345,100345,7.82,positive
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,EN,COCAINE COWBOYS,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,2006-04-26,2006,4,<bound method PandasDelegate._add_delegate_acc...,26,COCAINE COWBOYS,163000,163000,2.94,positive
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,EN,ICE AGE: THE MELTDOWN,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,2006-03-23,2006,3,<bound method PandasDelegate._add_delegate_acc...,23,ICE AGE: THE MELTDOWN,580940780,580940780,16.65,positive
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,EN,CASINO ROYALE,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,2006-11-14,2006,11,<bound method PandasDelegate._add_delegate_acc...,14,CASINO ROYALE,449045960,449045960,23.07,positive
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,EN,THE FAST AND THE FURIOUS: TOKYO DRIFT,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,2006-06-03,2006,6,<bound method PandasDelegate._add_delegate_acc...,3,THE FAST AND THE FURIOUS: TOKYO DRIFT,73468292,73468292,2.24,positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904,2905,"[{'id': 424202, 'name': 'Trainspotting Collect...",4000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.miramax.com/movie/trainspotting/,tt0117951,EN,TRAINSPOTTING,"Renton, deeply immersed in the Edinburgh drug ...",19.348466,...,1996-02-23,1996,2,<bound method PandasDelegate._add_delegate_acc...,23,TRAINSPOTTING,12491080,12491080,19.35,positive
2927,2928,"[{'id': 645, 'name': 'James Bond Collection', ...",140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/232/Die-Another-...,tt0246460,EN,DIE ANOTHER DAY,Bond takes on a North Korean leader who underg...,12.996474,...,2002-11-17,2002,11,<bound method PandasDelegate._add_delegate_acc...,17,DIE ANOTHER DAY,291971116,291971116,13.00,positive
2938,2939,"[{'id': 135416, 'name': 'Prometheus Collection...",130000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.projectprometheus.com/,tt1446714,EN,PROMETHEUS,A team of explorers discover a clue to the ori...,16.624854,...,2012-05-30,2012,5,<bound method PandasDelegate._add_delegate_acc...,30,PROMETHEUS,273170142,273170142,16.62,positive
2968,2969,"[{'id': 97307, 'name': 'BloodRayne Collection'...",25000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.bloodrayne-themovie.com/main/index....,tt0383222,EN,BLOODRAYNE,"In eighteenth century Romania, Rayne, a dhampi...",6.514132,...,2005-10-22,2005,10,<bound method PandasDelegate._add_delegate_acc...,22,BLOODRAYNE,-22594580,-22594580,6.51,negative
2984,2985,"[{'id': 221111, 'name': 'S.W.A.T. Collection',...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.sonypictures.com/homevideo/swat/,tt0257076,EN,S.W.A.T.,Hondo Harrelson recruits Jim Street to join an...,13.334952,...,2003-08-08,2003,8,<bound method PandasDelegate._add_delegate_acc...,8,S.W.A.T.,36643346,36643346,13.33,positive

In [74]:
A=[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
df = pd.json_normalize(A)
df

      id     name
0     35   Comedy
1     18    Drama
2  10751   Family
3  10749  Romance

In [75]:
def func(value,key):
  try:
    j = eval(value)
    df = pd.json_normalize(j)
    names = list(df[key])
    return ",".join(names)
  except:
    return value

In [76]:
data.loc[:,'genre_names'] = data.loc[:,'genres'].apply(func, key='name')

In [77]:
A = {"Name":["Ridaa","Zara","Arman"],"Age":[20,23,24]}
class_1 = pd.DataFrame(A)

In [78]:
A = {"Name":["Arya","Diya","Vibha"],"Age":[30,40,50]}
class_2 = pd.DataFrame(A)

In [79]:
job = {"salary":[20000,30000,40000],"job":["HR","engineer","Analyst"]}
class_1_job = pd.DataFrame(job)
class_1_job

   salary       job
0   20000        HR
1   30000  engineer
2   40000   Analyst

In [80]:
class_1

    Name  Age
0  Ridaa   20
1   Zara   23
2  Arman   24

In [81]:
class_2

    Name  Age
0   Arya   30
1   Diya   40
2  Vibha   50

In [82]:
combined_rows = pd.concat([class_1, class_2],axis = 0, ignore_index=True)
combined_columns = pd.concat([class_1,class_1_job],axis = 1)
combined_columns,combined_rows

(    Name  Age  salary       job
 0  Ridaa   20   20000        HR
 1   Zara   23   30000  engineer
 2  Arman   24   40000   Analyst,
     Name  Age
 0  Ridaa   20
 1   Zara   23
 2  Arman   24
 3   Arya   30
 4   Diya   40
 5  Vibha   50)

In [83]:
employees = pd.DataFrame({
    'EmployeeID' : [101, 102, 103, 104],
    'Name' : ['Alice','Bob','Charlie', 'David'],
    'DepartmentID': [1, 2, 3, 5]
    })
employees

   EmployeeID     Name  DepartmentID
0         101    Alice             1
1         102      Bob             2
2         103  Charlie             3
3         104    David             5

In [84]:
departments = pd.DataFrame({
    'DepartmentID': [1,2,3,4],
    'DepartmentName': ['HR','Engineering','Marketing','Finance'],
    'Location': ['New York', 'San Francisco', 'Chicago','Boston']
})
departments

   DepartmentID DepartmentName       Location
0             1             HR       New York
1             2    Engineering  San Francisco
2             3      Marketing        Chicago
3             4        Finance         Boston

In [85]:
inner_merge = pd.merge(employees, departments, on='DepartmentID', how='inner')
inner_merge

   EmployeeID     Name  DepartmentID DepartmentName       Location
0         101    Alice             1             HR       New York
1         102      Bob             2    Engineering  San Francisco
2         103  Charlie             3      Marketing        Chicago

In [86]:
left_merge = pd.merge(employees, departments, on='DepartmentID', how='left')
left_merge

   EmployeeID     Name  DepartmentID DepartmentName       Location
0         101    Alice             1             HR       New York
1         102      Bob             2    Engineering  San Francisco
2         103  Charlie             3      Marketing        Chicago
3         104    David             5            NaN            NaN

In [87]:
right_merge = pd.merge(employees, departments, on='DepartmentID', how='right')
right_merge

   EmployeeID     Name  DepartmentID DepartmentName       Location
0       101.0    Alice             1             HR       New York
1       102.0      Bob             2    Engineering  San Francisco
2       103.0  Charlie             3      Marketing        Chicago
3         NaN      NaN             4        Finance         Boston

In [88]:
outer_merge = pd.merge(employees, departments, on='DepartmentID', how='outer')
outer_merge

   EmployeeID     Name  DepartmentID DepartmentName       Location
0       101.0    Alice             1             HR       New York
1       102.0      Bob             2    Engineering  San Francisco
2       103.0  Charlie             3      Marketing        Chicago
3         NaN      NaN             4        Finance         Boston
4       104.0    David             5            NaN            NaN

In [89]:
data.loc[:,'release_date'] = pd.to_datetime(data.loc[:,'release_date'])

/tmp/ipython-input-1722189326.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data.loc[:,'release_date'] = pd.to_datetime(data.loc[:,'release_date'])

In [90]:
data.loc[:,'release_year'] = pd.to_datetime(data.loc[:,'release_date']).dt.year

In [91]:
data.head()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,month,month_Name,day,capitalized_title,profit,new_profit,popularity_new,profit_value,genre_names,release_year
22,23,"[{'id': 207621, 'name': 'V/H/S Collection', 'p...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",http://www.magnetreleasing.com/vhs/,tt2105044,EN,V/H/S,When a group of misfits is hired by an unknown...,7.820787,...,7,<bound method PandasDelegate._add_delegate_acc...,28,V/H/S,100345,100345,7.82,positive,"Thriller,Horror",2012
40,41,"[{'id': 376970, 'name': 'Cocaine Cowboys', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",http://www.magpictures.com/profile.aspx?id=983...,tt0380268,EN,COCAINE COWBOYS,"In the 1980s, ruthless Colombian cocaine baron...",2.941626,...,4,<bound method PandasDelegate._add_delegate_acc...,26,COCAINE COWBOYS,163000,163000,2.94,positive,"Action,Documentary",2006
46,47,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",80000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.iceagemovies.com/films/ice-age-the-...,tt0438097,EN,ICE AGE: THE MELTDOWN,"Diego, Manny and Sid return in this sequel to ...",16.646029,...,3,<bound method PandasDelegate._add_delegate_acc...,23,ICE AGE: THE MELTDOWN,580940780,580940780,16.65,positive,"Animation,Family,Comedy,Adventure",2006
60,61,"[{'id': 645, 'name': 'James Bond Collection', ...",150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/#/our-titles/233/Casino-Roy...,tt0381061,EN,CASINO ROYALE,"Le Chiffre, a banker to the world's terrorists...",23.065078,...,11,<bound method PandasDelegate._add_delegate_acc...,14,CASINO ROYALE,449045960,449045960,23.07,positive,"Adventure,Action,Thriller",2006
69,70,"[{'id': 9485, 'name': 'The Fast and the Furiou...",85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thefastandthefurious3.com/,tt0463985,EN,THE FAST AND THE FURIOUS: TOKYO DRIFT,"In order to avoid a jail sentence, Sean Boswel...",2.238808,...,6,<bound method PandasDelegate._add_delegate_acc...,3,THE FAST AND THE FURIOUS: TOKYO DRIFT,73468292,73468292,2.24,positive,"Action,Crime,Drama,Thriller",2006

In [92]:
data.groupby('release_year')['Revenue'].sum()

release_year
1975     583546319
1977     185438673
1979     104931801
1981     245557502
1984     411371200
1985     152427960
1987     405140171
1988       7282851
1989    1002823860
1990     381293645
1992     352927224
1993     920100000
1994     801164564
1995     446409952
1996      84605061
1997     333011068
1999    1191812141
2000     127879550
2001    1150797240
2002    2659232022
2003     983251296
2004    1573792676
2005    2042091705
2006    2347970243
2007    3103397036
2008    3116785148
2009    5044521315
2010    3124718173
2011    4055518627
2012    5192265377
2013    3408564261
2014    4066477009
2015    5422508761
2016    3418418977
2017    2271517194
2065     141195658
2067     111584787
2071     116019547
2072     245066411
2073     441306145
Name: Revenue, dtype: int64

In [93]:
data.groupby('original_language')['Revenue'].sum()

original_language
CN       21888598
EN    61061419991
ES       49107680
FR        9584131
ID        2627209
JA      377352903
KO       23803308
NO        2022135
RU       38862717
SV       66995253
ZH      121059225
Name: Revenue, dtype: int64

In [94]:
data.groupby('release_year')[['Revenue','budget']].sum()

                 Revenue      budget
release_year
1975           583546319     8200000
1977           185438673    14000000
1979           104931801    11000000
1981           245557502    34000000
1984           411371200    34400000
1985           152427960    30000000
1987           405140171    46000000
1988             7282851     3000000
1989          1002823860   130000000
1990           381293645    94000000
1992           352927224    49000000
1993           920100000    63000000
1994           801164564    80027000
1995           446409952    76500000
1996            84605061    73000000
1997           333011068   110000000
1999          1191812141   321060000
2000           127879550    99000000
2001          1150797240   273000000
2002          2659232022   491000000
2003           983251296   264000000
2004          1573792676   442700000
2005          2042091705   553000000
2006          2347970243   579580000
2007          3103397036   956515000
2008          3116785148   773715578
2009          5044521315   967400000
2010          3124718173   732487625
2011          4055518627  1147000000
2012          5192265377  1244500000
2013          3408564261  1003000000
2014          4066477009  1059000000
2015          5422508761  1096000000
2016          3418418977   722000000
2017          2271517194   812000000
2065           141195658     5500000
2067           111584787     9500000
2071           116019547     7200000
2072           245066411     6000000
2073           441306145     8000000

In [95]:
data.groupby('release_year')['runtime'].max().reset_index()

    release_year  runtime
0           1975    124.0
1           1977    125.0
2           1979    117.0
3           1981    127.0
4           1984    118.0
5           1985    131.0
6           1987    130.0
7           1988     97.0
8           1989    133.0
9           1990    162.0
10          1992    127.0
11          1993    127.0
12          1994     92.0
13          1995    130.0
14          1996    108.0
15          1997    119.0
16          1999    128.0
17          2000     93.0
18          2001    178.0
19          2002    179.0
20          2003    143.0
21          2004    132.0
22          2005    140.0
23          2006    144.0
24          2007    169.0
25          2008    152.0
26          2009    153.0
27          2010    133.0
28          2011    154.0
29          2012    169.0
30          2013    161.0
31          2014    150.0
32          2015    148.0
33          2016    134.0
34          2017    149.0
35          2065    130.0
36          2067    117.0
37          2071    120.0
38          2072    175.0
39          2073    122.0

In [96]:
employees = pd.DataFrame({
    'EmployeeID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'DepartmentID': [1, 2, 3, 5]
}).set_index('DepartmentID')
departments = pd.DataFrame({
    'DepartmentID': [1, 2, 3, 4],
    'DepartmentName': ['HR', 'Engineering', 'Marketing', 'Finance'],
    'Location': ['New York', 'San Francisco', 'Chicago', 'Boston']
}).set_index('DepartmentID')
left_joined = employees.join(departments, how='left')
print(left_joined)

              EmployeeID     Name DepartmentName       Location
DepartmentID
1                    101    Alice             HR       New York
2                    102      Bob    Engineering  San Francisco
3                    103  Charlie      Marketing        Chicago
5                    104    David            NaN            NaN

In [97]:
right_joined = employees.join(departments, how='right')
print(right_joined)

              EmployeeID     Name DepartmentName       Location
DepartmentID
1                  101.0    Alice             HR       New York
2                  102.0      Bob    Engineering  San Francisco
3                  103.0  Charlie      Marketing        Chicago
4                    NaN      NaN        Finance         Boston

In [98]:
inner_joined = employees.join(departments, how='inner')
print(inner_joined)

              EmployeeID     Name DepartmentName       Location
DepartmentID
1                    101    Alice             HR       New York
2                    102      Bob    Engineering  San Francisco
3                    103  Charlie      Marketing        Chicago

In [99]:
outer_joined = employees.join(departments, how='outer')
print(outer_joined)

              EmployeeID     Name DepartmentName       Location
DepartmentID
1                  101.0    Alice             HR       New York
2                  102.0      Bob    Engineering  San Francisco
3                  103.0  Charlie      Marketing        Chicago
4                    NaN      NaN        Finance         Boston
5                  104.0    David            NaN            NaN

In [100]:
import os

In [101]:
new_dir_path = "Almabetter:/Student/Username/Documents/NewProject"
new_dir_name = "DataFiles"