In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# IMDb Movies Revenue & Profitability Analysis using Python

## Objective
Analyzed IMDb movie dataset to identify revenue growth patterns,
profitability drivers, language dominance, and release trends
using Python and Pandas.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:

data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/imdb_data.csv')
data

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

#Initial Exploration

In [ ]:
data.shape

(3000, 23)

Dataset: ~3000 movies | 23 features including revenue, budget, runtime, language, genres, popularity, and release dates.

In [ ]:
data.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,EN,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,EN,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,EN,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,HI,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,KO,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [ ]:
data.tail()

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,month,month_Name,day,capitalized_title,profit,new_profit,popularity_new,profit_value,genre_names,release_year
2904,2905,"[{'id': 424202, 'name': 'Trainspotting Collect...",4000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.miramax.com/movie/trainspotting/,tt0117951,EN,TRAINSPOTTING,"Renton, deeply immersed in the Edinburgh drug ...",19.348466,...,2,<bound method PandasDelegate._add_delegate_acc...,23,TRAINSPOTTING,12491080,12491080,19.35,positive,"Drama,Crime",1996
2927,2928,"[{'id': 645, 'name': 'James Bond Collection', ...",140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/232/Die-Another-...,tt0246460,EN,DIE ANOTHER DAY,Bond takes on a North Korean leader who underg...,12.996474,...,11,<bound method PandasDelegate._add_delegate_acc...,17,DIE ANOTHER DAY,291971116,291971116,13.00,positive,"Adventure,Action,Thriller",2002
2938,2939,"[{'id': 135416, 'name': 'Prometheus Collection...",130000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.projectprometheus.com/,tt1446714,EN,PROMETHEUS,A team of explorers discover a clue to the ori...,16.624854,...,5,<bound method PandasDelegate._add_delegate_acc...,30,PROMETHEUS,273170142,273170142,16.62,positive,"Science Fiction,Adventure,Mystery",2012
2968,2969,"[{'id': 97307, 'name': 'BloodRayne Collection'...",25000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.bloodrayne-themovie.com/main/index....,tt0383222,EN,BLOODRAYNE,"In eighteenth century Romania, Rayne, a dhampi...",6.514132,...,10,<bound method PandasDelegate._add_delegate_acc...,22,BLOODRAYNE,-22594580,-22594580,6.51,negative,"Action,Adventure,Fantasy,Horror",2005
2984,2985,"[{'id': 221111, 'name': 'S.W.A.T. Collection',...",80000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.sonypictures.com/homevideo/swat/,tt0257076,EN,S.W.A.T.,Hondo Harrelson recruits Jim Street to join an...,13.334952,...,8,<bound method PandasDelegate._add_delegate_acc...,8,S.W.A.T.,36643346,36643346,13.33,positive,"Action,Thriller,Crime",2003

In [ ]:
data.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [ ]:
data.dtypes

id                         int64
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
Keywords                  object
cast                      object
crew                      object
revenue                    int64
dtype: object

In [ ]:
num_data = data.select_dtypes(include =['int64','float64'])

In [ ]:
num_data.columns

Index(['id', 'budget', 'popularity', 'runtime', 'revenue'], dtype='object')

In [ ]:
cat_data = data.select_dtypes(include = ['object'])
cat_data.columns

Index(['belongs_to_collection', 'genres', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'spoken_languages', 'status', 'tagline', 'title', 'Keywords', 'cast',
       'crew'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [ ]:
data.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [ ]:
data.describe(include='object')

,belongs_to_collection,genres,homepage,imdb_id,original_language,original_title,overview,poster_path,production_companies,production_countries,release_date,spoken_languages,status,tagline,title,Keywords,cast,crew
count,604,2993,946,3000,3000,3000,2992,2999,2844,2945,3000,2980,3000,2403,3000,2724,2987,2984
unique,422,872,941,3000,36,2975,2992,2999,2383,321,2398,401,2,2400,2969,2648,2975,2984
top,"[{'id': 645, 'name': 'James Bond Collection', ...","[{'id': 18, 'name': 'Drama'}]",http://www.transformersmovie.com/,tt1600195,EN,Casino Royale,Anna (Marceau) is a wife and mother who has an...,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,"[{'name': 'Paramount Pictures', 'id': 4}]","[{'iso_3166_1': 'US', 'name': 'United States o...",9/10/15,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Loose Cannons,"[{'id': 10183, 'name': 'independent film'}]",[],"[{'credit_id': '5391990d0e0a260fb5001629', 'de..."
freq,16,266,4,1,2575,2,1,1,51,1752,5,1817,2996,3,2,27,13,1

The dataset contains both numerical and categorical features,
including revenue, budget, runtime, language, and genres.

#Data Cleaning

In [ ]:
data.isnull()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2996,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2997,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2998,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2999,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

In [ ]:
data.dropna(inplace= True)

In [ ]:
data.isnull().sum()

id                       0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
Keywords                 0
cast                     0
crew                     0
revenue                  0
dtype: int64

In [ ]:
data.duplicated().sum()

np.int64(0)

In [ ]:
data.drop_duplicates(inplace = True)

### Data Cleaning Insight
- Missing values and duplicate records were removed
- This ensures accuracy in revenue and profit analysis

In [ ]:
data['budget']

22              0
40              0
46       80000000
60      150000000
69       85000000
          ...
2904      4000000
2927    140000000
2938    130000000
2968     25000000
2984     80000000
Name: budget, Length: 203, dtype: int64

In [ ]:
data[['original_language','original_title','overview','popularity']]

,original_language,original_title,overview,popularity
22,EN,V/H/S,When a group of misfits is hired by an unknown...,7.820787
40,EN,Cocaine Cowboys,"In the 1980s, ruthless Colombian cocaine baron...",2.941626
46,EN,Ice Age: The Meltdown,"Diego, Manny and Sid return in this sequel to ...",16.646029
60,EN,Casino Royale,"Le Chiffre, a banker to the world's terrorists...",23.065078
69,EN,The Fast and the Furious: Tokyo Drift,"In order to avoid a jail sentence, Sean Boswel...",2.238808
...,...,...,...,...
2904,EN,Trainspotting,"Renton, deeply immersed in the Edinburgh drug ...",19.348466
2927,EN,Die Another Day,Bond takes on a North Korean leader who underg...,12.996474
2938,EN,Prometheus,A team of explorers discover a clue to the ori...,16.624854
2968,EN,BloodRayne,"In eighteenth century Romania, Rayne, a dhampi...",6.514132
2984,EN,S.W.A.T.,Hondo Harrelson recruits Jim Street to join an...,13.334952

In [ ]:
data.sort_values('revenue',ascending=False)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
1126,1127,"[{'id': 86311, 'name': 'The Avengers Collectio...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,tt0848228,EN,The Avengers,When an unexpected enemy emerges and threatens...,89.887648,...,4/25/12,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,"[{'id': 242, 'name': 'new york'}, {'id': 5539,...","[{'cast_id': 46, 'character': 'Tony Stark / Ir...","[{'credit_id': '52fe4495c3a368484e02b1cf', 'de...",1519557910
1761,1762,"[{'id': 9485, 'name': 'The Fast and the Furiou...",190000000,"[{'id': 28, 'name': 'Action'}]",http://www.furious7.com/,tt2820852,EN,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,27.275687,...,4/1/15,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vengeance Hits Home,Furious 7,"[{'id': 830, 'name': 'car race'}, {'id': 3428,...","[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360
2770,2771,"[{'id': 86311, 'name': 'The Avengers Collectio...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,tt2395427,EN,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,37.379420,...,4/22/15,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,"[{'id': 8828, 'name': 'marvel comic'}, {'id': ...","[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...",1405403694
2322,2323,"[{'id': 8650, 'name': 'Transformers Collection...",195000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,tt1399103,EN,Transformers: Dark of the Moon,Sam Witwicky takes his first tenuous steps int...,4.503505,...,6/28/11,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The invasion we always feared. An enemy we nev...,Transformers: Dark of the Moon,"[{'id': 305, 'name': 'moon'}, {'id': 1612, 'na...","[{'cast_id': 3, 'character': 'Sam Witwicky', '...","[{'credit_id': '537f0b740e0a2624b40044d0', 'de...",1123746996
2135,2136,"[{'id': 295, 'name': 'Pirates of the Caribbean...",380000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://disney.go.com/pirates/index-on-stranger...,tt1298650,EN,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,27.887720,...,5/14/11,136.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,"[{'id': 658, 'name': 'sea'}, {'id': 1316, 'nam...","[{'cast_id': 15, 'character': 'Captain Jack Sp...","[{'credit_id': '566b4f54c3a3683f56005151', 'de...",1045713802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,515,"[{'id': 206559, 'name': 'StreetDance Collectio...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.highstrungthemovie.com/,tt3451230,EN,High Strung,When a hip hop violinist busking in the New Yo...,6.625607,...,4/8/16,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,See the music. Hear the dance.,High Strung,"[{'id': 1691, 'name': 'dance'}, {'id': 4721, '...","[{'cast_id': 3, 'character': 'Ruby', 'credit_i...","[{'credit_id': '56be2f489251417359004545', 'de...",53447
2276,2277,"[{'id': 286038, 'name': 'Dead Snow Collection'...",0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.deadsnow.com/,tt2832470,NO,Død Snø 2,The gruesome Nazi Zombies are back to finish t...,10.287127,...,2/12/14,100.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Heads up. They're back.,Dead Snow 2: Red vs. Dead,"[{'id': 2652, 'name': 'nazis'}, {'id': 9663, '...","[{'cast_id': 19, 'character': 'Martin', 'credi...","[{'credit_id': '52fe4ebfc3a36847f82a57f3', 'de...",37473
1499,1500,"[{'id': 473843, 'name': 'Stake Land Collection...",650000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.stakelandthefilm.com/,tt1464580,EN,Stake Land,Martin was a normal teenage boy before the cou...,7.814255,...,9/30/10,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Most Dangerous Thing Is To Be Alive.,Stake Land,"[{'id': 255, 'name': 'male nudity'}, {'id': 13...","[{'cast_id': 2, 'character': 'Belle', 'credit_...","[{'credit_id': '537483fcc3a36815180026ee', 'de...",33245
1563,1564,"[{'id': 87186, 'name': 'The Boondock Saints Co...",6000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.theboondocksaints.com,tt0144117,EN,The Boondock Saints,With a God-inspired moral obligation to act ag...,12.457908,...,1/22/99,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Thy Kingdom Come. Thy Will Be Done.,The Boondock Saints,"[{'id': 1679, 'name': 'arbitrary law'}, {'id':...","[{'cast_id': 1, 'character': 'Paul Smecker', '...","[{'credit_id': '52fe44a3c3a36847f80a1a91', 'de...",30471
665,666,"[{'id': 86668, 'name': 'Elektra Luxx Collectio...",0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.elektraluxx-movie.com/,tt1340773,EN,Elektra Luxx,A favor for a woman from her past throws the l...,4.118699,...,3/14/10,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,From adult film star to functioning adult.,Elektra Luxx,"[{'id': 10183, 'name': 'independent film'}, {'...","[{'cast_id': 3, 'character': 'Elektra Luxx', '...","[{'credit_id': '52fe48f6c3a36847f818264f', 'de...",10

#Feature Engineering

In [ ]:
data.rename(columns={'revenue':'Revenue','id':'Id','production_companies':'Companies','production_countries':'Countries'},inplace=True)

In [ ]:
data.loc[:,'Half_runtime'] = data.loc[:,'runtime']/2

#Date Processing

In [ ]:
data.loc[:,'new_released_date']=pd.to_datetime(data.loc[:,'release_date'])

/tmp/ipython-input-455865037.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data.loc[:,'new_released_date']=pd.to_datetime(data.loc[:,'release_date'])

In [ ]:
data.loc[:,'year'] = data.loc[:,'new_released_date'].dt.year

In [ ]:
data.loc[:,'month']=data.loc[:,'new_released_date'].dt.month

In [ ]:
data.loc[:,'month_Name']=data.loc[:,'new_released_date'].dt.month_name

In [ ]:
data.loc[:,'day']=data.loc[:,'new_released_date'].dt.day

Movies released after 2010 show higher cumulative revenue,
indicating growth in the global film industry.

#Language Standardization

In [ ]:
data['original_language'].value_counts()

original_language
EN    179
JA      5
ES      3
NO      2
FR      1
KO      1
ZH      1
SV      1
CN      1
RU      1
ID      1
Name: count, dtype: int64

In [ ]:
data['original_language'].unique()

array(['en', 'ja', 'es', 'fr', 'no', 'ko', 'zh', 'sv', 'cn', 'ru', 'id'],
      dtype=object)

In [ ]:
data.loc[data.loc[:,"year"]>2014]

,Id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,cast,crew,Revenue,Profit,Half_runtime,new_released_date,year,month,month_Name,day
211,212,"[{'id': 2366, 'name': 'The Jaws Collection', '...",7000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.jaws25.com/,tt0073195,EN,Jaws,An insatiable great white shark terrorizes the...,19.726114,...,"[{'cast_id': 15, 'character': 'Police Chief Ma...","[{'credit_id': '52fe4255c3a36847f801601f', 'de...",470654000,463654000,62.0,2075-06-18,2075,6,<bound method PandasDelegate._add_delegate_acc...,18
294,295,"[{'id': 131635, 'name': 'The Hunger Games Coll...",160000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.thehungergames.movie/,tt1951266,EN,The Hunger Games: Mockingjay - Part 2,"With the nation of Panem in a full scale war, ...",26.628178,...,"[{'cast_id': 2, 'character': 'Katniss Everdeen...","[{'credit_id': '551e57929251411d8d00029a', 'de...",653428261,493428261,68.5,2015-11-18,2015,11,<bound method PandasDelegate._add_delegate_acc...,18
314,315,"[{'id': 87118, 'name': 'Cars Collection', 'pos...",175000000,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",http://cars.disney.com,tt3606752,EN,Cars 3,Blindsided by a new generation of blazing-fast...,19.148182,...,"[{'cast_id': 1, 'character': 'Lightning McQuee...","[{'credit_id': '577a76f9c3a3687716000419', 'de...",350170057,175170057,54.5,2017-06-15,2017,6,<bound method PandasDelegate._add_delegate_acc...,15
351,352,"[{'id': 645, 'name': 'James Bond Collection', ...",7200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/529/Diamonds-Are...,tt0066995,EN,Diamonds Are Forever,Diamonds are stolen only to be sold again in t...,12.004910,...,"[{'cast_id': 19, 'character': 'James Bond', 'c...","[{'credit_id': '52fe426ac3a36847f801cc15', 'de...",116019547,108819547,60.0,2071-12-13,2071,12,<bound method PandasDelegate._add_delegate_acc...,13
514,515,"[{'id': 206559, 'name': 'StreetDance Collectio...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",http://www.highstrungthemovie.com/,tt3451230,EN,High Strung,When a hip hop violinist busking in the New Yo...,6.625607,...,"[{'cast_id': 3, 'character': 'Ruby', 'credit_i...","[{'credit_id': '56be2f489251417359004545', 'de...",53447,53447,48.0,2016-04-08,2016,4,<bound method PandasDelegate._add_delegate_acc...,8
548,549,"[{'id': 426103, 'name': 'Ouija Collection', 'p...",9000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://ouijamovie.com/,tt4361050,EN,Ouija: Origin of Evil,"In 1965 Los Angeles, a widowed mother and her ...",10.182974,...,"[{'cast_id': 1, 'character': 'Alice Zander', '...","[{'credit_id': '56911317c3a3686b550023c4', 'de...",81705746,72705746,49.5,2016-10-20,2016,10,<bound method PandasDelegate._add_delegate_acc...,20
699,700,"[{'id': 376650, 'name': 'Ride Along Collection...",40000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.ridealong.com/,tt2869728,EN,Ride Along 2,"As his wedding day approaches, Ben heads to Mi...",9.420931,...,"[{'cast_id': 1, 'character': 'Ben Barber', 'cr...","[{'credit_id': '54d360749251413fc10034b7', 'de...",124827316,84827316,51.0,2016-01-14,2016,1,<bound method PandasDelegate._add_delegate_acc...,14
809,810,"[{'id': 115776, 'name': 'Robert Langdon Collec...",75000000,"[{'id': 53, 'name': 'Thriller'}]",http://www.infernothemovie.com/,tt3062096,EN,Inferno,"After waking up in a hospital with amnesia, pr...",18.311054,...,"[{'cast_id': 0, 'character': 'Robert Langdon',...","[{'credit_id': '57aead299251410a82001218', 'de...",220021259,145021259,60.5,2016-10-13,2016,10,<bound method PandasDelegate._add_delegate_acc...,13
818,819,"[{'id': 167613, 'name': 'Alvin and the Chipmun...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.foxmovies.com/movies/alvin-and-the-...,tt2974918,EN,Alvin and the Chipmunks: The Road Chip,"Through a series of misunderstandings, Alvin, ...",14.307672,...,"[{'cast_id': 16, 'character': 'Dave', 'credit_...","[{'credit_id': '547f79b7c3a3683d8e0004fe', 'de...",233755553,233755553,46.0,2015-12-17,2015,12,<bound method PandasDelegate._add_delegate_acc...,17
837,838,"[{'id': 8945, 'name': 'Mad Max Collection', 'p...",150000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.madmaxmovie.com/,tt1392190,EN,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,29.361780,...,"[{'cast_id': 2, 'character': 'Max Rockatansky'...","[{'credit_id': '53d451210e0a262841002dd1', 'de...",378858340,228858340,60.0,2015-05-13,2015,5,<bound method PandasDelegate._add_delegate_acc...,13
1038,1039,"[{'id': 401562, 'name': 'Teenage Mutant Ninja ...",135000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",http://www.teenagemutantninjaturtlesmovie.com/,tt3949660,EN,Teenage Mutant Ninja Turtles: Out of the Shadows,"After supervillain Shredder escapes custody, h...",13.047776,...,"[{'cast_id': 3, 'character': ""April O'Neil"", '...","[{'credit_id': '548315c292514175f5001823', 'de...",245623848,110623848,56.0,2016-06-01,2016,6,<bound method PandasDelegate._add_delegate_acc...,1
1093,1094,"[{'id': 230, 'name': 'The Godfather Collection...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,tt0068646,EN,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",41.109264,...,"[{'cast_id': 5, 'character': 'Don Vito Corleon...","[{'credit_id': '52fe422bc3a36847f80093db', 'de...",245066411,239066411,87.5,2072-03-14,2072,3,<bound method PandasDelegate._add_delegate_acc...,14
1124,1125,"[{'id': 8354, 'name': 'Ice Age Collection', 'p...",105000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.iceagemovies.com/films/ice-age-coll...,tt3416828,EN,Ice Age: Collision Course,"Set after the events of Continental Drift, Scr...",20.151037,...,"[{'cast_id': 7, 'character': 'Manny (voice)', ...","[{'credit_id': '551b875dc3a3687670001d1e', 'de...",408579038,303579038,50.0,2016-06-23,2016,6,<bound method PandasDelegate._add_delegate_acc...,23
1514,1515,"[{'id': 357173, 'name': 'Sinister Collection',...",10000000,"[{'id': 27, 'name': 'Horror'}]",http://www.sinistermovie.com/,tt2752772,EN,Sinister 2,A young mother and her twin sons move into a r...,17.602928,...,"[{'cast_id': 1, 'character': 'Courtney Collins...","[{'credit_id': '5666bb3bc3a36808e6000bb0', 'de...",52882018,42882018,48.5,2015-08-19,2015,8,<bound method PandasDelegate._add_delegate_acc...,19
1630,1631,"[{'id': 8650, 'name': 'Transformers Collection...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,tt3371366,EN,Transformers: The Last Knight,"Autobots and Decepticons are at war, with huma...",39.186819,...,"[{'cast_id': 2, 'character': 'Cade Yeager', 'c...","[{'credit_id': '5553e38bc3a368208f000502', 'de...",604942143,344942143,74.5,2017-06-21,2017,6,<bound method PandasDelegate._add_delegate_acc...,21
1643,1644,"[{'id': 295130, 'name': 'The Maze Runner Colle...",61000000,"[{'id': 28, 'name': 'Action'}]",http://mazerunnermovies.com,tt4046784,EN,Maze Runner: The Scorch Trials,Thomas and his fellow Gladers face their great...,41.225769,...,"[{'cast_id': 0, 'character': 'Thomas', 'credit...","[{'credit_id': '55fe9c50c3a3681334002f5b', 'de...",311256926,250256926,66.0,2015-09-09,2015,9,<bound method PandasDelegate._add_delegate_acc...,9
1715,1716,"[{'id': 173710, 'name': 'Planet of the Apes (R...",152000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://www.foxmovies.com/movies/war-for-the-pl...,tt3450958,EN,War for the Planet of the Apes,Caesar and his apes are forced into a deadly c...,146.161786,...,"[{'cast_id': 6, 'character': 'Caesar', 'credit...","[{'credit_id': '591f036fc3a368774e036079', 'de...",369907963,217907963,70.0,2017-07-11,2017,7,<bound method PandasDelegate._add_delegate_acc...,11
1761,1762,"[{'id': 9485, 'name': 'The Fast and the Furiou...",190000000,"[{'id': 28, 'name': 'Action'}]",http://www.furious7.com/,tt2820852,EN,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,27.275687,...,"[{'cast_id': 17, 'character': 'Dominic Toretto...","[{'credit_id': '52fe4cc8c3a36847f823e681', 'de...",1506249360,1316249360,68.5,2015-04-01,2015,4,<bound method PandasDelegate._add_delegate_acc...,1
2030,2031,"[{'id': 281644, 'name': 'Rocky Horror Collecti...",1200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",http://www.rockyhorror.com/,tt0073629,EN,The Rocky Horror Picture Show,"Sweethearts Brad and Janet, stuck with a flat ...",8.699428,...,"[{'cast_id': 8, 'character': 'Dr. Frank-N-Furt...","[{'credit_id': '52fe46029251416c91045f0b', 'de...",112892319,111692319,50.0,2075-08-14,2075,8,<bound method PandasDelegate._add_delegate_acc...,14
2126,2127,"[{'id': 284433, 'name': 'Guardians of the Gala...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/221/guardians_o...,tt3896198,EN,Guardians of the Galaxy Vol. 2,The Guardians must fight to keep their newfoun...,185.330992,...,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",863416141,663416141,68.5,2017-04-19,2017,4,<bound method PandasDelegate._add_delegate_acc...,19
2274,2275,"[{'id': 386534, 'name': '... Has Fallen Collec...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",https://www.facebook.com/LondonHasFallenOfficial,tt3300542,EN,London Has Fallen,"In London for the Prime Minister's funeral, Mi...",15.037993,...,"[{'cast_id': 3, 'character': 'Mike Banning', '...","[{'credit_id': '5363c191c3a368157d002773', 'de...",205754447,145754447,49.5,2016-03-02,2016,3,<bound method PandasDelegate._add_delegate_acc...,2
2326,2327,"[{'id': 448150, 'name': 'Deadpool Collection',...",58000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.foxmovies.com/movies/deadpool,tt1431045,EN,Deadpool,Deadpool tells the origin story of former Spec...,187.860492,...,"[{'cast_id': 99, 'character': 'Wade Wilson / D...","[{'credit_id': '57e564fac3a3681beb0000cc', 'de...",783112979,725112979,54.0,2016-02-09,2016,2,<bound method PandasDelegate._add_delegate_acc...,9
2333,2334,"[{'id': 645, 'name': 'James Bond Collection', ...",9500000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://www.mgm.com/view/movie/2347/You-Only-Li...,tt0062512,EN,You Only Live Twice,A mysterious space craft kidnaps a Russian and...,10.359669,...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe4267c3a36847f801bbd1', 'de...",111584787,102084787,58.5,2067-06-12,2067,6,<bound method PandasDelegate._add_delegate_acc...,12
2349,2350,"[{'id': 12263, 'name': 'The Exorcist Collectio...",8000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://theexorcist.warnerbros.com/,tt0070047,EN,The Exorcist,12-year-old Regan MacNeil begins to adapt an e...,12.137595,...,"[{'cast_id': 14, 'character': 'Regan', 'credit...","[{'credit_id': '52fe4508c3a36847f80b865d', 'de...",441306145,433306145,61.0,2073-12-26,2073,12,<bound method PandasDelegate._add_delegate_acc...,26
2391,2392,"[{'id': 645, 'name': 'James Bond Collection', ...",5500000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/2009/Thunderball/,tt0059800,EN,Thunderball,A criminal organization has obtained two nucle...,10.517835,...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '52fe4265c3a36847f801b5ad', 'de...",141195658,135695658,65.0,2065-12-16,2065,12,<bound method PandasDelegate._add_delegate_acc...,16
2431,2432,"[{'id': 313086, 'name': 'The Conjuring Collect...",40000000,"[{'id': 27, 'name': 'Horror'}]",http://www.warnerbros.com/conjuring-2,tt3065204,EN,The Conjuring 2,Lorraine and Ed Warren travel to north London ...,14.767317,...,"[{'cast_id': 1, 'character': 'Ed Warren', 'cre...","[{'credit_id': '5327f4c99251411a0d001c70', 'de...",320170008,280170008,67.0,2016-05-13,2016,5,<bound method PandasDelegate._add_delegate_acc...,13
2562,2563,"[{'id': 137697, 'name': 'Finding Nemo Collecti...",200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://movies.disney.com/finding-dory,tt2277860,EN,Finding Dory,Dory is reunited with her friends Nemo and Mar...,14.477677,...,"[{'cast_id': 2, 'character': 'Dory (voice)', '...","[{'credit_id': '55eb2fbb92514106d60041ab', 'de...",1028570889,828570889,48.5,2016-06-16,2016,6,<bound method PandasDelegate._add_delegate_acc...,16
2737,2738,"[{'id': 645, 'name': 'James Bond Collection', ...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/spectre/,tt2379713,EN,Spectre,A cryptic message from Bond‚Äôs past sends him...,24.926577,...,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '5751eed59251416b60000637', 'de...",880674609,635674609,74.0,2015-10-26,2015,10,<bound method PandasDelegate._add_delegate_acc...,26
2770,2771,"[{'id': 86311, 'name': 'The Avengers Collectio...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,tt2395427,EN,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,37.379420,...,"[{'cast_id': 76, 'character': 'Tony Stark / Ir...","[{'credit_id': '55d5f7d4c3a3683e7e0016eb', 'de...",1405403694,1125403694,70.5,2015-04-22,2015,4,<bound method PandasDelegate._add_delegate_acc...,22
2890,2891,"[{'id': 14563, 'name': 'The Ring Collection', ...",25000000,"[{'id': 27, 'name': 'Horror'}]",http://www.ringsmovie.com/,tt0498381,EN,Rings,"Julia becomes worried about her boyfriend, Hol...",24.535733,...,"[{'cast_id': 14, 'character': 'Julia', 'credit...","[{'credit_id': '52fe46019251416c75069e25', 'de...",83080890,58080890,51.0,2017-02-01,2017,2,<bound method PandasDelegate._add_delegate_acc...,1

English-language movies dominate total revenue,
highlighting wider global reach.

In [ ]:
data.loc[(data.loc[:,'year']=='2012') | (data.loc[:,'year']=='2013')]

Empty DataFrame
Columns: [Id, belongs_to_collection, budget, genres, homepage, imdb_id, original_language, original_title, overview, popularity, poster_path, Companies, Countries, release_date, runtime, spoken_languages, status, tagline, title, Keywords, cast, crew, Revenue, Profit, Half_runtime, new_released_date, year, month, month_Name, day]
Index: []

[0 rows x 30 columns]

In [ ]:
def to_uppercase(column):
  return column.upper()

data.loc[:,"capitalized_title"] = data.loc[:,"title"].apply(to_uppercase)

In [ ]:
data.loc[:,'original_title']= data.loc[:,'original_title'].apply(to_uppercase)

In [ ]:
def to_lowercase(value):
  if isinstance(value,str):
    return value.lower()
  return value

In [ ]:
data.loc[:,'tagline'] = data.loc[:,'tagline'].apply(to_lowercase)

### Profit Analysis
Profit was calculated as Revenue minus Budget for each movie. This metric helps
identify which movies were commercially successful, beyond just high revenue.

In [ ]:
def calculate_profit(row):
  return row['Revenue'] - row['budget']

data.loc[:,'profit'] = data.apply(calculate_profit,axis=1)

In [ ]:
def revised_profit(revenue,budget):
  return revenue-budget

data['new_profit'] = data.apply(lambda x: revised_profit(x['Revenue'], x['budget']), axis=1)

In [ ]:
data.loc[:,'profit_value'] = data.loc[:,'profit'].apply(lambda x: 'positive' if x>0 else 'negative')

In [ ]:
data.loc[:,'original_language'] = data.loc[:,'original_language'].apply(lambda x: x.upper())

In [ ]:
data.loc[:,'popularity_new'] = data.loc[:,'popularity'].apply(lambda x: round(x,2))

In [ ]:
import ast

def func(value, key):
    try:
        j = ast.literal_eval(value)
        return ",".join([i[key] for i in j])
    except:
        return np.nan

Genres are stored as JSON-like strings and were parsed to extract genre names.

In [ ]:
data.loc[:,'genre_names'] = data.loc[:,'genres'].apply(func, key='name')

In [ ]:
data.loc[:,'release_date'] = pd.to_datetime(data.loc[:,'release_date'])

/tmp/ipython-input-1722189326.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data.loc[:,'release_date'] = pd.to_datetime(data.loc[:,'release_date'])

In [ ]:
data.loc[:,'release_year'] = pd.to_datetime(data.loc[:,'release_date']).dt.year

#GroupBy Insights

In [ ]:
data = data[data['release_year']<=2017].copy()
data.groupby('release_year')['Revenue'].sum().sort_index(ascending = False)

release_year
2017    2271517194
2016    3418418977
2015    5422508761
2014    4066477009
2013    3408564261
2012    5192265377
2011    4055518627
2010    3124718173
2009    5044521315
2008    3116785148
2007    3103397036
2006    2347970243
2005    2042091705
2004    1573792676
2003     983251296
2002    2659232022
2001    1150797240
2000     127879550
1999    1191812141
1997     333011068
1996      84605061
1995     446409952
1994     801164564
1993     920100000
1992     352927224
1990     381293645
1989    1002823860
1988       7282851
1987     405140171
1985     152427960
1984     411371200
1981     245557502
1979     104931801
1977     185438673
Name: Revenue, dtype: int64

### Revenue Trend by Release Year

Total movie revenue shows a clear growth pattern from the late 1990s,
with a strong surge between 2009 and 2015. The highest total revenue
was observed in 2015, followed by consistently high revenues until 2016.
A noticeable decline is seen in 2017, which may be influenced by fewer
movies or incomplete data for that year.

In [ ]:
data.groupby('original_language')['Revenue'].sum().sort_values(ascending=False)

original_language
EN    59422701124
JA      377352903
ZH      121059225
SV       66995253
ES       49107680
RU       38862717
KO       23803308
CN       21888598
FR        9584131
ID        2627209
NO        2022135
Name: Revenue, dtype: int64

### Revenue by Original Language

**English**-language movies overwhelmingly dominate total revenue,
contributing the vast majority of box-office earnings. Other languages
such as Japanese (JA), Chinese (ZH), and Swedish (SV) generate
significantly lower revenue in comparison. This highlights the strong
global reach and commercial dominance of English-language films.

In [ ]:
data.groupby('release_year')[['Revenue','budget']].sum().sort_index(ascending = False)

                 Revenue      budget
release_year
2017          2271517194   812000000
2016          3418418977   722000000
2015          5422508761  1096000000
2014          4066477009  1059000000
2013          3408564261  1003000000
2012          5192265377  1244500000
2011          4055518627  1147000000
2010          3124718173   732487625
2009          5044521315   967400000
2008          3116785148   773715578
2007          3103397036   956515000
2006          2347970243   579580000
2005          2042091705   553000000
2004          1573792676   442700000
2003           983251296   264000000
2002          2659232022   491000000
2001          1150797240   273000000
2000           127879550    99000000
1999          1191812141   321060000
1997           333011068   110000000
1996            84605061    73000000
1995           446409952    76500000
1994           801164564    80027000
1993           920100000    63000000
1992           352927224    49000000
1990           381293645    94000000
1989          1002823860   130000000
1988             7282851     3000000
1987           405140171    46000000
1985           152427960    30000000
1984           411371200    34400000
1981           245557502    34000000
1979           104931801    11000000
1977           185438673    14000000

### Revenue vs Budget Trend by Release Year

Both movie budgets and revenues show a steady increase over time,
indicating higher investment and scale in the film industry. From the
early 2000s onward, revenue growth generally outpaces budget growth,
suggesting improved profitability during peak years such as 2009, 2012,
and 2015. Although budgets continue to rise, revenue fluctuations in
later years indicate that higher investment does not always guarantee
proportionally higher returns.

In [ ]:
data.groupby('release_year')['runtime'].max().reset_index()

    release_year  runtime
0           1977    125.0
1           1979    117.0
2           1981    127.0
3           1984    118.0
4           1985    131.0
5           1987    130.0
6           1988     97.0
7           1989    133.0
8           1990    162.0
9           1992    127.0
10          1993    127.0
11          1994     92.0
12          1995    130.0
13          1996    108.0
14          1997    119.0
15          1999    128.0
16          2000     93.0
17          2001    178.0
18          2002    179.0
19          2003    143.0
20          2004    132.0
21          2005    140.0
22          2006    144.0
23          2007    169.0
24          2008    152.0
25          2009    153.0
26          2010    133.0
27          2011    154.0
28          2012    169.0
29          2013    161.0
30          2014    150.0
31          2015    148.0
32          2016    134.0
33          2017    149.0

### Maximum Movie Runtime by Release Year

The maximum runtime of movies shows a gradual increase over time,
indicating a trend toward longer feature films in later years. Earlier
years (1970s–1980s) generally had maximum runtimes around 120–130 minutes,
whereas from the 2000s onward, several years feature movies exceeding
150 minutes. This suggests growing audience acceptance of longer films,
often associated with epic storytelling, franchises, or high-budget
productions.